aside {
    background: #212322;
    color: #fff;
    padding: 5rem 1rem;
}

body {
    background: linear-gradient(to right, #222 0%, #222 33.3333%, #fff 33.3333%, #fff 100%);
}

@media screen and (max-width: 600px) {
    body {
        background: #fff;
    }

    aside {
        display: none;
    }
}

.aside-navigation a {
    display: block;
    margin: 1rem 0 .5rem;
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
}

.aside-navigation a:first-of-type {
    margin-top: 0;
}

.aside-navigation a:visited {
    color: #fff;
}

.aside-navigation a:hover,
.aside-navigation a:focus {
    color: #3b62a1;
}

.aside-navigation .sub-list {
    list-style: none;
}

.aside-navigation .sub-list a {
    font-size: .7rem;
    margin: 0 0 .2rem;
}

.aside-navigation .sub-list a:before {
    content: '- ';
}

.grid-preview {
    margin: 2rem 0;
}

.grid-preview .mui-column {
    background: #3b62a1;
    color: #fff;
    text-align: center;
    font-size: .9rem;
    height: 2rem;
    line-height: 2rem;
    margin-top: .5rem;
}

.grid-preview .mui-column:first-of-type {
    border-right: 2px solid #fff;
}

.mui-p.-b {
    margin: 1rem 0;
}

.mui-hero-header.-blueprint {
    height: calc(100vh - 4rem);
    min-height: 400px;

    background-color: #3b62a1;
    background-image: linear-gradient(#000 2px, transparent 2px),
        linear-gradient(90deg, #000 2px, transparent 2px),
        linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.mui-hero-header.-blueprint .content {
    text-shadow: 0 30px 200px #212322, 0 15px 100px #212322;
}

.mui-hero-header.-blueprint .project {
    font-size: 3.6rem;
}

.mui-hero-header.-blueprint .version {
    font-size:  .9rem;
    vertical-align: baseline;
    position: relative;
    top: -1.2rem;
}

.mui-hero-header.-blueprint .description {
    font-size: 1.8rem;
}

.mui-hero-header.-blueprint .mui-button {
    margin-top: 1.5rem;
    color: #fff;
    border-color: #fff;
    background: #EF3340;
}

.mui-hero-header.-blueprint .mui-button:hover,
.mui-hero-header.-blueprint .mui-button:focus {
    background: #212322;
}

.mui-content-container.-separate {
    margin: 5rem auto;
}

.component-preview {
    margin: 3rem 0 5rem;
}

.component-preview > .name {
    margin-bottom: -.1rem;
}

.component-preview > .filename {
    font-size: .7rem;
    font-style: italic;
    color: #C7C1BA;
    margin-bottom: .5rem;
}

.component-preview > .description {
    font-size: .9rem;
    color: #4C4845;
    margin-bottom: .3rem;
}

.component-preview > .depends {
    color: #2A3A6E;
    font-size: .7rem;
    margin-bottom: .3rem;
}

.component-preview > .requires {
    color: #EF3340;
    font-size: .7rem;
    margin-bottom: .3rem;
}

.component-preview > .example-container {

}

.component-preview .example {
    margin: 2rem auto;
}

.component-preview .code,
.code-example {    
    border-left: 3px solid #212322;
}


.code-example {
    margin: 1rem 0;
}


.component-preview .example > .mui-button {
    margin: 0 1rem 1rem 0;
}


.component-preview .example > .mui-ribbon-wrapper {
    height: 10rem;
    margin-top: 1rem;
    background: #E1E7EE;
}

.component-preview .example > .mui-lazy-load {
    height: 128px;
    width: 128px;
}

.mui-page-footer {
    height: 3rem;
    line-height: 3rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}


.pln {
    color: #212322;
}

@media screen {
    /* string content */
    .str {
        color: #EF3340;
    }

    /* a keyword */
    .kwd {
        color: #212322;
    }

    /* a comment */
    .com {
        color: #C7C1BA;
    }

    /* a type name */
    .typ {
        color: #3B62A1;
    }

    /* a literal value */
    .lit {
        color: #2A3A6E;
    }

    /* punctuation */
    .pun {
        color: #212322;
    }

    /* lisp open bracket */
    .opn {
        color: #212322;
    }

    /* lisp close bracket */
    .clo {
        color: #212322;
    }

    /* a markup tag name */
    .tag {
        color: #3B62A1;
    }

    /* a markup attribute name */
    .atn {
        color: #2A3A6E;
    }

    /* a markup attribute value */
    .atv {
        color: #EF3340;
    }

    /* a declaration */
    .dec {
        color: #212322;
    }

    /* a variable name */
    .var {
        color: #2A3A6E;
    }

    /* a function name */
    .fun {
        color: #212322;
    }
}

pre.prettyprint {
    background: #F3F3F3;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: .6rem;
    padding: 1rem;
    line-height: 1.5;
    overflow-x: scroll;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
