body {
    background: #e5e5e5;
}

.examples {
    display: block;
    width: calc(100% + 6rem);
    position: relative;
    margin-left: -3rem;
    margin-bottom: 1rem;
    min-height: 3rem;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.example {
    display: block;
    padding: 1.5rem 1rem;
    position: relative;
    min-height: 3rem;
    border-bottom: 1px solid #ccc;
}

.state .name {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: .8rem;
    background: #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

/* GitHub Theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
    color: #333333;
}

@media screen {
    /* string content */
    .str {
        color: #dd1144;
    }

    /* a keyword */
    .kwd {
        color: #333333;
    }

    /* a comment */
    .com {
        color: #999988;
    }

    /* a type name */
    .typ {
        color: #445588;
    }

    /* a literal value */
    .lit {
        color: #445588;
    }

    /* punctuation */
    .pun {
        color: #333333;
    }

    /* lisp open bracket */
    .opn {
        color: #333333;
    }

    /* lisp close bracket */
    .clo {
        color: #333333;
    }

    /* a markup tag name */
    .tag {
        color: navy;
    }

    /* a markup attribute name */
    .atn {
        color: teal;
    }

    /* a markup attribute value */
    .atv {
        color: #dd1144;
    }

    /* a declaration */
    .dec {
        color: #333333;
    }

    /* a variable name */
    .var {
        color: teal;
    }

    /* a function name */
    .fun {
        color: #990000;
    }
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
    .str {
        color: #006600;
    }

    .kwd {
        color: #006;
        font-weight: bold;
    }

    .com {
        color: #600;
        font-style: italic;
    }

    .typ {
        color: #404;
        font-weight: bold;
    }

    .lit {
        color: #004444;
    }

    .pun, .opn, .clo {
        color: #444400;
    }

    .tag {
        color: #006;
        font-weight: bold;
    }

    .atn {
        color: #440044;
    }

    .atv {
        color: #006600;
    }
}

/* Style */
pre.prettyprint {
    background: #eee;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: .7rem;
    padding: 1rem;
    line-height: 1.5;
    overflow-x: scroll;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}

.mui-post.-d {
    margin: 2rem auto;
    padding: 2rem 0 0;
}

.mui-post-header.-d {
    padding: 0 2rem;
}

.mui-post-content > .info {
    margin: 1rem 0;
    padding: 0 2rem 1.5rem;
}

.mui-post-content p {
    display: block;
    margin-bottom: 1rem;
}

.mui-post-content table td:first-of-type {
    font-weight: bold;
    padding-right: 1rem;
}


.mui-accordion.-d {
    margin: 1rem 0;
}

.mui-accordion.-d .title {
    background: #eee;
}

.mui-accordion.-d .title:hover,
.mui-accordion.-d .title:focus {
    background: #eee;
    color: #000;
}

.relative-no-overflow-wrapper {
    background: #c3c3c3;
    position: relative;
    height: 10rem;
    width: 100%;
    overflow: hidden;
}

._allow-empty {
    display: block;
    background: #ffffff;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
}

.depends,
.requires {
    color: #CC2936;
}
