<!DOCTYPE html>
<html>
<head>
    <title>Muilessium - <%= title %></title>

    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>

    <link rel='stylesheet' media='all' href='../../assets/css/muilessium.css?v=2984133754352165' />
    <link rel='stylesheet' media='all' href='../../assets/css/docs-styles.css?v=2984133754352165' />

    <link rel='icon' href='./favicon.ico' type='image/x-icon' />

    <style>
        h2 {
            font-size: 2rem !important;
        }

        hr {
            display: none;
        }

        .mui-content-container {
            padding: .2rem 0;
        }

        ._separate-1-bottom {
            margin-bottom: 1rem;
        }

        .anchor-link {
            opacity: 0;
        }

        .anchor-link:hover,
        .anchor-link:focus {
            opacity: 1;
        }
    </style>

</head>
<body>
    <header class='mui-page-header -black-bg'>
    <div class='mui-content-container'>
        <div class='mui-header-logo _left'>
            <img class='mui-image -logo -js-lazy-load' data-src='../../images/muilessium.png' alt='logo'>
            <a class='_right' href='/'>
                <h1 class='-white _bigger-1'>
                    <span>Muilessium</span>
                    <% if (!hasTitle) { %>
                        <span class='_smaller-1'> (<%= title %>) </span>
                    <% } %>
                </h1>
            </a>
        </div>
    </div>
    </header>

    <main class='mui-page-container _separate-3'>
            <% for (var i = 0, l = sections.length; i < l; i++) { %>
                <% var section = sections[i]; %>
                <div class='' id='section-<%= i + 1 %>'>
                    <div class='mui-content-container'>
                        <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
                        <div class='<%= heading ? 'for-' + heading[1] : '' %>'>
                            <a class='anchor-link _smaller-2 -grey-3 -f-blue-3' href='#section-<%= i + 1 %>'>&#182;</a>
                        </div>
                        <%= section.docsHtml %>
                    </div>
                    <div class='mui-content-container'>
                        <% if (section.codeText.replace(/\s/gm, '') != '') { %>
                            <div class='hljs _separate-1-bottom'><%= section.codeHtml %></div>
                        <% } %>
                    </div>
                </div>
            <% } %>
    </main>

    <div class='mui-page-footer _text-center _line-3r -white -black-bg'>
        <span>Copyright &copy; Ivan Bogachev, 2016-2017</span>
    </div>

    <div id='scroll-to-top-button' class='( mui-button -icon ) -white-bg -black -f-blue-2-bg -f-white scroll-to-top -hidden _shadow-3'>
        <i class='fa fa-arrow-up'></i>
    </div>


    <script src='../../assets/js/muilessium.js?v=2984133754352165'></script>
</body>
</html>
