@white:            #FFFFFF;
@black:            #252422;
@grey:             #CCC5B9;
@light-grey:       #CCC5B9;
@dark-grey:        #403D39;
@primary-color:    #1A7099;
@secondary-color:  #1A9992;
@accent-color:     #ED1C1C;
@valid-color:      #0A9951;
@invalid-color:    #ED1C1C;
@outline-color:    #2BBBFF;
@shadow-color:     rgba(0, 0, 0, .3);

@default-color:            @black;
@default-background-color: @white;

@default-link-color:           @secondary-color;
@default-link-color__focus:    darken(@secondary-color, 5%);
@default-link-color__disabled: @grey;

@selection-color:            @white;
@selection-background-color: @black;

