@white:            #FFFFFF;
@black:            #222222;
@grey:             #4D4F51;
@primary-color:    #1C5D99;
@secondary-color:  #183E63;
@accent-color:     #FF4444;
@valid-color:      #1C7722;
@invalid-color:    #D10018;
@shadow-color:     rgba(0, 0, 0, .3);

@default-color:            @black;
@default-background-color: @white;

@default-link-color:           @secondary-color;
@default-link-color__focus:    darken(@secondary-color, 5%);
@default-link-color__disabled: @grey;

@selection-color:            @white;
@selection-background-color: @black;

