@white: #FFFFFF;
@black: #21292C;

@shadow-color: rgba(0, 0, 0, .3);

@default-color:                       @black;
@default-background-color:            @white;

@selection-color:                     @white;
@selection-background-color:          @black;

