@muilessium-prefix: mui-;

@global-border-radius: 3px;
@global-border-width:  1px;
@global-ui-height:     2rem;
@global-width-limit:   50rem;

@grid-breakpoint-small:  400px;
@grid-breakpoint-medium: 600px;
@grid-breakpoint-large:  1200px;

@hover-animation-duration: 180ms;
@hover-animation-function: cubic-bezier(.53, .05, .13, .94);

