@hover-animation-duration:   180ms;
@like-animation-duration:    500ms;
@toggle-animation-duration:  300ms;
@mobile-navigation-animation-duration: 600ms;
@hover-animation-function:   cubic-bezier(.53, .05, .13, .94);
@like-animation-function:    cubic-bezier(.53, .05, .13, .94);
@toggle-animation-function:  cubic-bezier(.85, .11, .46, .98);

@mobile-navigation__max-screen-width: 50rem;

@muilessium-prefix: mui-;

@global-border-radius: 3px;
@global-border-width:  1px;
@global-ui-height:     2rem;
@header-height:        @global-ui-height * 2;
@global-width-limit:   50rem;

@big-header-background-filter: brightness(0.4);