// @name muilessium-prefix
// @description Prefix for Muilessium css classes
//
// @state default - mui-
@muilessium-prefix: mui-;

// @name hover-animation-duration
// @description Default animation duratio for hover effect
//
// @state default - 180ms
@hover-animation-duration:             180ms;


// @name tabs-animation-duration
// @description Animation duration for tabs component
//
// @state default - 600ms
@tabs-animation-duration:              600ms;


// @name pie-chart-animation-duration
// @description Animation duration for pie chart
//
// @state default - 200ms
@pie-chart-animation-duration: 200ms;

// @name hover-animation-function
// @description Default animation function for hover effect
//
// @state default - cubic-bezier(.53, .05, .13, .94)
@hover-animation-function:     cubic-bezier(.53, .05, .13, .94);

// @name tabs-animation-function
// @description Animation function for tabs component
//
// @state default - cubic-bezier(.85, .11, .46, .98)
@tabs-animation-function:      cubic-bezier(.85, .11, .46, .98);


// @name pie-chart-animation-function
// @description Animation function for pie chart component
//
// @state default - cubic-bezier(.85, .11, .46, .98)
@pie-chart-animation-function: cubic-bezier(.85, .11, .46, .98);

// @name global-border-radius
// @description Default border radius for all muilessium components
//
// @state default - 3px
@global-border-radius: 3px;

// @name global-border-width
// @description Default border width for all muilessium components
//
// @state default - 1px
@global-border-width:  1px;

// @name global-ui-height
// @description Default height for most of Muilessium UI components
//
// @state default - 2rem
@global-ui-height:     2rem;

// @name global-width-limit
// @description Global width limit (for better reading experience should be under 70rem)
//
// @state default - 50rem
@global-width-limit:   50rem;

// @name grid-breakpoint-small
// @description Breakpoint for grid system (small screens)
//
// @state default - 400px
@grid-breakpoint-small:  400px;

// @name grid-breakpoint-small
// @description Breakpoint for grid system (medium screens)
//
// @state default - 600px
@grid-breakpoint-medium: 600px;

// @name grid-breakpoint-small
// @description Breakpoint for grid system (large screens)
//
// @state default - 1200px
@grid-breakpoint-large:  1200px;
