@default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@min-font-size: 14;
@min-font-size-px: 14px;
@max-font-size: 22;
@max-font-size-px: 22px;


html {
    font-family: @default-font-family;

    // Font size formula (for default values):
    // size = ( 12px + (20 - 12) * ((100vw - 400px) / ( 1200 - 400)))
    font-size: ~'calc(' @min-font-size-px ~' + (' @max-font-size ~' - ' @min-font-size ~') * ((100vw - ' @grid-breakpoint-small-px ~') / (' @grid-breakpoint-large ~' - ' @grid-breakpoint-small ~')))';

    line-height: 1.50;
}

h1, .h1 {
    ._bigger-5;
}

h2, .h2 {
    ._bigger-4;
}

h3, .h3 {
    ._bigger-3;
}

h4, .h4 {
    ._bigger-2;
}

h5, .h5 {
    ._bigger-1;
}

h6, .h6 {
    ._bigger-0;
}
