@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro';


@serif-font-family:      'Source Serif Pro', serif;
@sans-serif-font-family: 'Source Sans Pro', sans-serif;

@min-font-size: 12;
@min-font-size-px: 12px;
@max-font-size: 18;
@max-font-size-px: 18px;


html {
    font-family: @serif-font-family;

    // Font size formula (for default values):
    // size = ( 12px + (20 - 12) * ((100vw - 400px) / ( 1200 - 400)))
    font-size: ~'calc(' @min-font-size-px ~' + (' @max-font-size ~' - ' @min-font-size ~') * ((100vw - ' @grid-breakpoint-small-px ~') / (' @grid-breakpoint-large ~' - ' @grid-breakpoint-small ~')))';
}

h1, .h1 {
    font-size: 3rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.2rem;
}

h5, .h5 {
    font-size: 1rem;
}

h6, .h6 {
    font-size: .8rem;
}
