._no-break {
    white-space: nowrap !important;
}

._text-left {
    text-align: left !important;
}

._text-right {
    text-align: right !important;
}

._text-center {
    text-align: center !important;
}

._text-justify {
    text-align: justify !important;
}

._uppercase {
    text-transform: uppercase !important;
}

._lowercase {
    text-transform: lowercase !important;
}

._left {
    float: left !important;
}

._right {
    float: right !important;
}

._z-depth-1 {
    box-shadow: 0 0 3px @default-shadow-color !important;
}

._z-depth-2 {
    box-shadow: 0 2px 5px @default-shadow-color !important;
}

._z-depth-3 {
    box-shadow: 0 3px 10px @default-shadow-color !important;
}

._z-depth-4 {
    box-shadow: 0 4px 15px @default-shadow-color !important;
}

._z-depth-5 {
    box-shadow: 0 10px 20px @default-shadow-color !important;
}

._disabled {
    color: @grey-3 !important;
    pointer-events: none !important;
}

._no-overflow {
    overflow: hidden !important;
}

._truncate-line {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

._allow-empty {
    
}

._hidden {
    display: none !important;
}

._lazy-load {
    opacity: 0;

    #utils > .transition-all;

    &.-loaded {
        opacity: 1;
    }
}

._separate-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

._separate-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

._separate-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

._separate-4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

._separate-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}
