// @name Normalize-EXT
// @description Some styles to extend normalize.css

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: @default-color;
    background-color: @default-background-color;
}

body {
    min-width: 320px;
}

::-moz-selection {
    color: @selection-color;
    background: @selection-background-color;
}

::selection {
    color: @selection-color;
    background: @selection-background-color;
}

a {
    color: @default-link-color;
    
    &:hover,
    &:focus {
        color: @default-link-color__focus;
    }
    
    &:visited {
        color: @default-color;
    }
    
    &:empty {
        &:after {
            content: attr(href)
        }
    }
}

div:empty:not(.indicator) {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

abbr {
    text-transform: uppercase;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

ul, ol {
    list-style-position: inside;
    
    ul, ol {
        padding-left: 2rem;
        margin-top: .5rem;
    }
}

li {
    &:not(:first-of-type) {
        margin-top: .5rem;
    }
}