// @name Normalize-EXT
// @description Some styles to extend normalize.css

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

    color: @black;
    background-color: @white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 320px;
}

::-moz-selection {
    color: @white;
    background: @black;
}

::selection {
    color: @white;
    background: @black;
}

a {
    color: @grey-5;
    
    &:hover,
    &:focus {
        color: @black;
    }
    
    &:visited {
        color: @grey-5;
    }
    
    &:empty {
        &::after {
            content: attr(href)
        }
    }
}

:focus {
    outline: none;
}

div:empty:not(.indicator):not(.mui-navigation-toggle):not(._allow-empty):not(.mui-shadow-toggle) {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

abbr {
    text-transform: uppercase;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

ul, ol {
    list-style-position: inside;
    
    ul, ol {
        padding-left: 2rem;
        margin-top: .5rem;
    }
}

li {
    &:not(:first-of-type) {
        margin-top: .5rem;
    }
}

