*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: @default-color;
    background-color: @default-background-color;
}

::-moz-selection {
    color: @selection-color;
    background: @selection-background-color;
}

::selection {
    color: @selection-color;
    background: @selection-background-color;
}

a {
    color: @default-link-color;
    
    &:hover,
    &:focus {
        color: @default-link-color__focus;
    }
    
    &:visited {
        color: @default-color;
    }
    
    &:empty {
        &:after {
            content: attr(href)
        }
    }
}

div:empty:not(.indicator) {
    display: none;
}