header.preview-header {
    background: #fff;
    margin-bottom: 3rem;
}

.logo {
    display: block;
    margin: 3rem auto;
    height: 20rem;
}

.mui-column {
    padding: 1rem;
}

body {
    background: linear-gradient(to right, #777 0%, #777 50%, #fff 50%, #fff 100%);
}

pre {
    background: #333;
    color: #fff;
    padding: 1rem;
    font-family: monospace;
    font-size: .8rem;
    width: 100%;
    overflow-x: auto;
}

.mui-content-container {
    max-width: 1200px;

    &.-limit-width {
        max-width: 1200px;
    }
    
    .mui-row:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
    }
}

.mui-spinner {
    margin-right: 1rem;
}

.mui-radio {
    margin-bottom: 1rem;
}

footer.page-footer {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    height: 3rem;
    margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
    .mui-column {
        width: 100% !important;
    }
    
    body {
        background: #fff;
    }
}

.sample-block {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    
    margin: 1rem;
    
    text-align: center;
    line-height: 3rem;
    
    background: #6e9ee0;
    
    &.-large {
        position: relative;
        height: 10rem;
        width: 100%;
    }
}
