.logo {
    display: block;
    margin: 3rem auto;
    height: 20rem;
}

.mui-column {
    padding: 1rem;
}

pre {
    background: #333;
    color: #fff;
    padding: 1rem;
    font-family: monospace;
    font-size: .8rem;
    width: 100%;
    overflow-x: scroll;
}

.mui-content-container {
    max-width: 1200px;

    &.-limit-width {
        max-width: 1200px;
    }
}

.mui-spinner {
    margin-right: 1rem;
}

.mui-radio {
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .mui-column {
        width: 100% !important;
    }
}

