header.preview-header {
    margin-bottom: 3rem;
}

.logo {
    display: block;
    margin: 3rem auto;
    height: 20rem;
}

pre {
    background: #cecece;
    color: #434343;
    padding: 1rem;
    font-family: monospace;
    font-size: .8rem;
    width: 100%;
    overflow-x: auto;
}

.mui-content-container {
    max-width: 960px;

    &.-limit-width {
        max-width: 960px;
    }
}

.mui-spinner {
    margin-right: 1rem;
}

.mui-radio {
    margin-bottom: 1rem;
}

.mui-post {
    margin: 1rem auto;
}

footer.page-footer {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    height: 3rem;
    margin-top: 2rem;
}

.sample-block {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    
    margin: 1rem;
    
    text-align: center;
    line-height: 3rem;
    
    background: #6e9ee0;
    
    &.-large {
        position: relative;
        height: 10rem;
        width: 100%;
        margin: 1rem 0;
    }
}

.mui-column {
    margin-top: 2rem;
}

.preview-column {
    height: 3rem;
    min-height: 3rem;
    background: #6e9ee0;
    border: 2px solid #3e6eb0;
    line-height: 3rem;
    text-align: center;
    margin-top: .3rem;
}