#utils {
    .clearfix {
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
    
    .absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .absolute-zero {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .transition-all {
        transition: all @default-animation-duration @default-animation-function;
    }

    .shadow {
        box-shadow: 0 0 3px @default-shadow-color;
    }
    
    .object-fit-cover {
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }
}

