// @name Accordion
// @description Accordion component
//
// @markup
//      <ul class="mui-accordion">
//          <li class="item">
//              <input type="radio" name="accordion-qptl" id="accordion-ctcq" checked>
//              <label for="accordion-ctcq" class="title">Lorem</label>
//              <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quaerat!</div>
//          </li>
//          <li class="item">
//              <input type="radio" name="accordion-qptl" id="accordion-ncez">
//              <label for="accordion-ncez" class="title">Lorem</label>
//              <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quaerat!</div>
//          </li>
//      </ul>

.@{muilessium-prefix}accordion {
    list-style: none;
    
    > .item {
        display: block;
        position: relative;
        
        margin: 0;
        padding: 0 1rem;
        
        color: @accordion-color;
        background: @accordion-bgcolor;
        border: solid @global-border-width @accordion-border-color;
        
        &:first-of-type {
            border-top-left-radius: @global-border-radius;    
            border-top-right-radius: @global-border-radius;    
        }
        
        &:not(:first-of-type) {
            border-top: none;
        }
        
        &:last-of-type {
            border-bottom-left-radius: @global-border-radius;    
            border-bottom-right-radius: @global-border-radius;    
        }
    }
    
    > .item > .title {
        display: block;
        position: relative;
        left: -1rem;
        
        width: ~'calc(100% + 2rem)';
        
        padding: 1rem;
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: @accordion-color__focus;
            background: @accordion-bgcolor__focus;
        }
    }
    
    > .item > .content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        
        transition: all @accordion-animation-duration @accordion-animation-function;
    }
    
    > .item > input {
        display: none;
        
        &:checked + .title + .content {
            max-height: 30rem;
            margin: 1rem 0;
            opacity: 1;
            
            transition: all @accordion-animation-duration @accordion-animation-function;
        }
    }
}