// @name Accordion
// @description Accordion component
//
// @markup
//      <ul class="mui-accordion" role="tablist" multiselectable="true">
//          <li class="item -unfold">
//              <div class="title" role="tab" aria-controls="wa-erpo" aria-expanded="true" id="wa-ghty">
//                  <div class="indicator" role="presentation">
//                      <i class="fa fa-arrow-right" role="presentation"></i>
//                  </div>
//                  Lorem
//              </div>
//              <div class="content" id="wa-erpo" role="tabpanel" aria-labelledby="wa-ghty" aria-hidden="false">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quaerat!</div>
//          </li>
//          <li class="item">
//              <div class="title" role="tab" aria-controls="wa-dfpo" aria-expanded="false" id="wa-fgrt">
//                  <div class="indicator" role="presentation">
//                      <i class="fa fa-arrow-right" role="presentation"></i>
//                  </div>
//                  Lorem
//              </div>
//              <div class="content" id="wa-dfpo" role="tabpanel" aria-labelledby="wa-fgrt" aria-hidden="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quaerat!</div>
//          </li>
//      </ul>


.@{muilessium-prefix}accordion {
    list-style: none;
    
    > .item {
        display: block;
        position: relative;
        
        margin: 0;
        padding: 0 1rem;
        
        color: @accordion-color;
        background: @accordion-bgcolor;
        border: solid @accordion-border-width @accordion-border-color;

        overflow: hidden;
        
        &:first-of-type {
            border-top-left-radius: @accordion-border-radius;    
            border-top-right-radius: @accordion-border-radius;    
        }
        
        &:not(:first-of-type) {
            border-top: none;
        }
        
        &:last-of-type {
            border-bottom-left-radius: @accordion-border-radius;    
            border-bottom-right-radius: @accordion-border-radius;    
        }
    }
    
    > .item > .title {
        display: block;
        position: relative;
        left: -1rem;
        
        width: ~'calc(100% + 2rem)';
        
        padding: 1rem;

        line-height: 1;

        color: @accordion-label-color;
        background: @accordion-label-bgcolor;

        transition: border-bottom-left-radius  @accordion-animation-duration @accordion-animation-function,
                    border-bottom-right-radius @accordion-animation-duration @accordion-animation-function;
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: @accordion-label-color__focus;
            background: @accordion-label-bgcolor__focus;
        }
    }

    > .item:first-of-type > .title {
        border-top-left-radius: @accordion-border-radius;
        border-top-right-radius: @accordion-border-radius;
    }

    > .item:last-of-type:not(.-opened) > .title {
        border-bottom-left-radius: @accordion-border-radius;
        border-bottom-right-radius: @accordion-border-radius;
    }

    > .item > .title > .indicator {
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: middle;

        transition: transform @accordion-animation-duration @accordion-animation-function;
    }

    > .item > .content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: rotateX(90deg);
        
        transition: all @accordion-animation-duration @accordion-animation-function;
        will-change: max-height, margin, opacity, transform;
    } 
        
    > .item.-unfold > .content {
        max-height: 30rem;
        margin: 1rem 0;
        opacity: 1;
        transform: rotateX(0);
            
        transition: all @accordion-animation-duration @accordion-animation-function;
    }

    > .item.-unfold > .title {
        border-bottom-left-radius: @accordion-border-radius;
        border-bottom-right-radius: @accordion-border-radius;
    }

    > .item.-unfold > .title > .indicator {
        transform: rotate(90deg);
    }
}
