// @name Accordion
// @description Accordion component
//
// @lvar accordion-color                - black
// @lvar accordion-bgcolor              - white
// @lvar accordion-label-color          - black
// @lvar accordion-label-color__focus   - white
// @lvar accordion-label-bgcolor        - lighten(grey, 50%)
// @lvar accordion-label-bgcolor__focus - primary-color
// @lvar accordion-border-color         - lighten(grey, 30%)
// @lvar accordion-border-radius        - global-border-radius
// @lvar accordion-border-width         - global-border-width
// @lvar accordion-animation-duration   - 200ms
// @lvar accordion-animation-function   - cubic-bezier(.85, .11, .46, .98)
//
// @markup
//      <ul class="mui-accordion">
//          <li class="item -unfold">
//              <div class="title">Lorem</div>
//              <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quaerat!</div>
//          </li>
//          <li class="item">
//              <div class="title">Lorem</div>
//              <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quaerat!</div>
//          </li>
//      </ul>


@accordion-color:                @black;
@accordion-bgcolor:              @white;
@accordion-label-color:          @black;
@accordion-label-color__focus:   @white;
@accordion-label-bgcolor:        lighten(@grey, 50%);
@accordion-label-bgcolor__focus: @primary-color;
@accordion-border-color:         lighten(@grey, 30%);
@accordion-border-radius:        @global-border-radius;
@accordion-border-width:         @global-border-width;
@accordion-animation-duration:   200ms;
@accordion-animation-function:   cubic-bezier(.85, .11, .46, .98);


.@{muilessium-prefix}accordion {
    list-style: none;
    
    > .item {
        display: block;
        position: relative;
        
        margin: 0;
        padding: 0 1rem;
        
        color: @accordion-color;
        background: @accordion-bgcolor;
        border: solid @accordion-border-width @accordion-border-color;
        
        &:first-of-type {
            border-top-left-radius: @accordion-border-radius;    
            border-top-right-radius: @accordion-border-radius;    
        }
        
        &:not(:first-of-type) {
            border-top: none;
        }
        
        &:last-of-type {
            border-bottom-left-radius: @accordion-border-radius;    
            border-bottom-right-radius: @accordion-border-radius;    
        }
    }
    
    > .item > .title {
        display: block;
        position: relative;
        left: -1rem;
        
        width: ~'calc(100% + 2rem)';
        
        padding: 1rem;

        color: @accordion-label-color;
        background: @accordion-label-bgcolor;
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: @accordion-label-color__focus;
            background: @accordion-label-bgcolor__focus;
        }

        &:focus {
            #utils > .outline-on-focus;
        }
    }
    
    > .item > .content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: rotateX(90deg);
        
        transition: all @accordion-animation-duration @accordion-animation-function;
        will-change: max-height, margin, opacity, transform;
    }
    
        
    > .item.-unfold > .content {
        max-height: 30rem;
        margin: 1rem 0;
        opacity: 1;
        transform: rotateX(0);
            
        transition: all @accordion-animation-duration @accordion-animation-function;
    }
}
