.@{muilessium-prefix}badge {
    display: inline-block;
    
    height: 1.2em;
    min-width: 1.2em;
    
    padding: 0 .2em;
    margin-left: .3em;
    
    font-size: .8em;
    line-height: 1.2em;
    text-align: center;
    
    color: @badge-color;
    background: @badge-bgcolor;
    
    border-radius: 0;

    vertical-align: middle;
    transform: translateY(-.1em);
    
    &.-rounded {
        border-radius: .6em;
    }
}