// @name Badge
// @description Badge component. WAI-ARIA label should be added manually.
//
// @see button, collection
//
// @markup
//      <span class="mui-badge"               aria-label="5 items total">5</span>
//      <span class="mui-badge -rounded"      aria-label="5 items total">5</span>
//      <span class="mui-badge -new"          aria-label="5 items total">5</span>
//      <span class="mui-badge -new -rounded" aria-label="5 items total">5</span>


.@{muilessium-prefix}badge {
    display: inline-block;
    
    height: 1.4em;
    min-width: 1.4em;
    
    padding: 0 .5em;
    margin-left: .3em;
    
    font-size: .8em;
    line-height: 1.4em;
    text-align: center;
    
    color: @badge-color;
    background: @badge-bgcolor;
    
    border-radius: 0;

    vertical-align: middle;
    transform: translateY(-.1em);
    
    &.-rounded {
        border-radius: .6em;
    }

    &.-new {
        &:after {
            content: ' new';
        }
    }
}
