// @name Big header
// @description Big header component
//
// @markup
//      <div class="mui-big-header">
//          <img src="https://placehold.it/1200x800" alt="" class="background">
//          <div class="content">
//              <h2>Lorem ipsum dolor sit amet.</h2>
//              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, excepturi!</p>
//          </div>
//      </div>


.@{muilessium-prefix}big-header {
    position: relative;
    
    height: 20rem;
    width: 100%;
    
    overflow: hidden;
    
    > .background {
        height: inherit;
        width: inherit;
        
        #utils > .object-fit-cover;
        
        filter: @big-header-background-filter;
    }
    
    > .content {
        #utils > .absolute-center;
        
        width: 100%;
        
        padding: 1rem 4rem;
        
        text-align: center;
        
        color: @big-header-color;
    }
    
    &.-full-height {
        height: 100vh;
    }
}
