// @name Blockquote
// @description Blockquote component
//
// @markup
//      <blockquote class="mui-blockquote">
//          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, fugit?</span>
//          <span class="author">John Doe</span>
//      </blockquote>

.@{muilessium-prefix}blockquote {
    display: block;
    
    padding: 1rem 2rem;
    
    .text {
        display: block;
        
        margin-bottom: .5rem;
        
        color: @blockquote-text-color;
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        
        &:before {
            content: '\201C';
        }
        
        &:after {
            content: '\201D';
        }
    }
    
    .author {
        display: block;
        
        text-align: right;
        
        color: @blockquote-author-color;
    }
}