// @name Breadcrumb
// @state -slash-delimiter - Breadcrumbs with slash delimiter
//
// @markup
//  <div class='mui-breadcrumb' aria-label='Breadcrumb'>
//      <a class='link' href='' aria-label='Category C'>category</a>
//      <a class='link' href='' aria-label='Subcategory S'>subcategory</a>
//      <a class='link' href='' aria-label='This product T'>title</a>
//  </div>


.@{muilessium-prefix}breadcrumb {
    height: @default-ui-height;
    
    padding: 0 1rem;
    
    line-height: @default-ui-height;
    
    background: @grey-2;
    border-radius: @default-border-radius;
    
    > .link {
        text-decoration: none;
        
        &:not(:last-of-type):after {
            content: '\0203A';
            padding: 0 .5rem;
        }

        &:hover,
        &:focus {
            color: @grey-3;
        }
    }
    
    &.-slash-delimiter {
        > .link:not(:last-of-type):after {
            content: '/';
        }
    }
}

