// @name Breadcrumb
// @description Breadcrumb component
//
// @state -slash-delimiter - Breadcrumbs with slash delimiter
//
// @lvar breadcrumb-color - white
// @lvar breadcrumb-bgcolor - primary-color
// @lvar breadcrumb-height - global-ui-height
// @lvar breadcrumb-border-radius - global-border-radius
//
// @markup
//      <div class="mui-breadcrumb">
//          <a href="">category</a>
//          <a href="">subcategory</a>
//          <a href="">title</a>
//      </div>


@breadcrumb-color:         @white;
@breadcrumb-bgcolor:       @primary-color;
@breadcrumb-height:        @global-ui-height;
@breadcrumb-border-radius: @global-border-radius;


.@{muilessium-prefix}breadcrumb {
    height: @breadcrumb-height;
    
    padding: 0 1rem;
    
    line-height: @breadcrumb-height;
    
    background: @breadcrumb-bgcolor;
    border-radius: @breadcrumb-border-radius;
    
    > a {
        color: @breadcrumb-color;
        text-decoration: none;
        
        &:not(:last-of-type):after {
            content: '\0203A';
            padding: 0 .5rem;
        }
    }
    
    &.-slash-delimiter {
        > a:not(:last-of-type):after {
            content: '/';
        }
    }
}
