// @name ButtonDropdown
// @description Dropdown button component
// @depends button, dropdown-options
//
// @see button
//
// @markup
//      <div class="mui-button-dropdown">
//          <a class="mui-button" role="button" aria-haspopup="true" id="wa-cvfd" aria-label="Dropdown menu for ...">button <i class="fa fa-arrow-down" aria-hidden="true"></i></a>          
//          <ul class="mui-dropdown-options" aria-labelledby="wa-cvfd" aria-hidden="true">
//              <li class="option"><a href="" aria-label="Link to the ...">Link #1</a></li>
//              <li class="option"><a href="" aria-label="Link to the ...">Link #2</a></li>
//              <li class="option"><a href="" aria-label="Link to the ...">Link #3</a></li>
//          </ul>
//          <div class="mui-shadow-toggle" aria-hidden="true" aria-label="Close dropdown menu"></div>
//      </div>


.@{muilessium-prefix}button-dropdown {
    display: inline-block;
    position: relative;

    > .@{muilessium-prefix}button {
        position: relative;
    }

    > .@{muilessium-prefix}dropdown-options {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        width: 100%;
        z-index: 11;
    }

    &.-opened {
        > .@{muilessium-prefix}button {
            z-index: 11;
        }

        > .@{muilessium-prefix}dropdown-options {
            display: block;
        }
    }
}
