// @name Button group
// @description Button group component. Should be used for grouping of buttons.
//
// @state -vertical - Vertical button group
// @state -or - Button group with "or" label between buttons
//
// @depends button
//
// @markup
//      <div class="mui-button-group">
//          <button class="mui-button" aria-label="first: click to ...">first</button>
//          <button class="mui-button" aria-label="second: click to ...">second</button>
//          <button class="mui-button" aria-label="third: click to ...">third</button>
//      </div>


.@{muilessium-prefix}button-group {
    > .@{muilessium-prefix}button {
        position: relative;
        border-radius: 0;
        z-index: 0;
        
        &:first-of-type {
            border-top-left-radius: @button-group-border-radius;
            border-bottom-left-radius: @button-group-border-radius;
        }
        
        &:last-of-type {
            border-top-right-radius: @button-group-border-radius;
            border-bottom-right-radius: @button-group-border-radius;
        }
        
        &:not(:first-of-type) {
            border-left: @button-group-border-width solid @button-group-border-color;
            margin-left: -.4rem; // hack?
        }
        
        &:not(:last-of-type) {
            border-right: @button-group-border-width solid @button-group-border-color;
        }
    }
    
    &.-vertical {
        > .@{muilessium-prefix}button {
            display: block;
            width: 100%;
            border-radius: 0;
            border: none;

            &:first-of-type {
                border-top-left-radius: @button-group-border-radius;
                border-top-right-radius: @button-group-border-radius;
            }

            &:last-of-type {
                border-bottom-left-radius: @button-group-border-radius;
                border-bottom-right-radius: @button-group-border-radius;
            }

            &:not(:first-of-type) {
                border-top: @button-group-border-width solid @button-group-border-color;
                margin-left: 0; // hack?
            }
        }
    }

    &.-or {
        > .@{muilessium-prefix}button:not(:first-of-type) {
            padding-left: 1.2rem;

            &:before {
                content: 'or';

                position: absolute;
                left: -.6rem;
                top: 50%;
                z-index: 1;
                transform: translateY(-50%);

                display: block;
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 50%;

                font-size: .7rem;
                line-height: 1.2rem;
                text-align: center;

                background: @button-group-or-bgcolor;
                color: @button-group-or-color;
            }
        }

        > .@{muilessium-prefix}button:not(:last-of-type) {
            padding-right: 1.2rem;
        }
    }
}
