// @name Button group
// @description Button group component
//
// @state -vertical - Vertical button group
//
// @see button
//
// @markup
//      <div class="mui-button-group">
//          <button class="mui-button">first button</button>
//          <button class="mui-button">second button</button>
//          <button class="mui-button">and third</button>
//      </div>

.@{muilessium-prefix}button-group {
    > .@{muilessium-prefix}button {
        border-radius: 0;
        
        &:first-of-type {
            border-top-left-radius: @global-border-radius;
            border-bottom-left-radius: @global-border-radius;
        }
        
        &:last-of-type {
            border-top-right-radius: @global-border-radius;
            border-bottom-right-radius: @global-border-radius;
        }
        
        &:not(:first-of-type) {
            border-left: @global-border-width solid @button-group-border-color;
            margin-left: -.4rem; // hack?
        }
        
        &:not(:last-of-type) {
            border-right: @global-border-width solid @button-group-border-color;
        }
    }
    
    &.-vertical {
        > .@{muilessium-prefix}button {
            display: block;
            width: 100%;
            border-radius: 0;
            border: none;

            &:first-of-type {
                border-top-left-radius: @global-border-radius;
                border-top-right-radius: @global-border-radius;
            }

            &:last-of-type {
                border-bottom-left-radius: @global-border-radius;
                border-bottom-right-radius: @global-border-radius;
            }

            &:not(:first-of-type) {
                border-top: @global-border-width solid @button-group-border-color;
                margin-left: 0; // hack?
            }
        }
    }
}
