.@{muilessium-prefix}-button {
    display: inline-block;
    
    padding: 0 1em;
    
    font-family: @sans-serif-font-family;
    font-size: @global-ui-height * .5;
    line-height: @global-ui-height;
    
    text-decoration: none;
    text-align: center;

    color: @button-color;
    background: @button-bgcolor;
    
    border: none;
    border-radius: @global-border-radius;
    
    #utils > .transition-all;
    
    &:visited {
        color: @button-color;
        background: @button-bgcolor;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        color: @button-color__focus;
        background: @button-bgcolor__focus;
        outline: none;
    }
    
    &:active {
        cursor: pointer;
        color: @button-color__active;
        background: @button-bgcolor__active;
    }
    
    &.-small {
        font-size: @global-ui-height * .3;
        line-height: @global-ui-height * .7;
    }
    
    &.-large {
        font-size: @global-ui-height * 1.2;
        line-height: @global-ui-height * 2;
    }
    
    &.-dangerous {
        color: @button-color-dangerous;
        background: @button-bgcolor-dangerous;
        
        text-transform: uppercase;
        
        &:visited {
            color: @button-color-dangerous;
            background: @button-bgcolor-dangerous;
        }
        
        &:hover,
        &:focus {
            color: @button-color-dangerous__focus;
            background: @button-bgcolor-dangerous__focus;
        }
        
        &:active {
            color: @button-color-dangerous__active;
            background: @button-bgcolor-dangerous__active;
        }
    }
    
    &.-ghost {
        color: @button-color-ghost;
        background: transparent;
        border: 1px solid @button-color-ghost;
        
        &:hover,
        &:focus {
            background: @button-bgcolor-ghost__focus;
        }
    }
}