// @name Button
// @description Button component
//
// @state :hover     - Highlights when hovered
// @state :focus     - Highlights when focused
// @state :active    - Indicates button is clicked
// @state -small     - Smaller button
// @state -large     - Larger button
// @state -dangerous - Indicates danderous action
// @state -ghost     - Button with transparent background
//
//
// @lvar button-color - white;
// @lvar button-color__focus - button-color;
// @lvar button-color__active - button-color;
// @lvar button-color-dangerous - button-color;
// @lvar button-color-dangerous__focus - button-color;
// @lvar button-color-dangerous__active - button-color;
// @lvar button-color-ghost - black;
// @lvar button-bgcolor - primary-color;
// @lvar button-bgcolor__focus - darken(button-bgcolor, 5%);
// @lvar button-bgcolor__active - darken(button-bgcolor, 15%);
// @lvar button-bgcolor-dangerous - accent-color;
// @lvar button-bgcolor-dangerous__focus - darken(button-bgcolor-dangerous, 5%);
// @lvar button-bgcolor-dangerous__active - darken(button-bgcolor-dangerous, 15%);
// @lvar button-color-ghost__focus - white;
// @lvar button-bgcolor-ghost__focus - primary-color;
// @lvar button-height - global-ui-height;
// @lvar button-border-radius - global-border-radius;
// @lvar button-border-width - global-border-width;
//
// @see button-group
//
// @markup
//      <button class="mui-button">button</button>
//      <!-- or <a href="" class="mui-button">button</a>-->


@button-color:                     @white;
@button-color__focus:              @button-color;
@button-color__active:             @button-color;
@button-color-dangerous:           @button-color;
@button-color-dangerous__focus:    @button-color;
@button-color-dangerous__active:   @button-color;
@button-color-ghost:               @black;
@button-bgcolor:                   @primary-color;
@button-bgcolor__focus:            darken(@button-bgcolor, 5%);
@button-bgcolor__active:           darken(@button-bgcolor, 15%);
@button-bgcolor-dangerous:         @accent-color;
@button-bgcolor-dangerous__focus:  darken(@button-bgcolor-dangerous, 5%);
@button-bgcolor-dangerous__active: darken(@button-bgcolor-dangerous, 15%);
@button-color-ghost__focus:        @white;
@button-bgcolor-ghost__focus:      @primary-color;
@button-height:                    @global-ui-height;
@button-border-radius:             @global-border-radius;
@button-border-width:              @global-border-width;

.@{muilessium-prefix}button {
    display: inline-block;
    
    padding: 0 1em;
    
    font-family: @sans-serif-font-family;
    font-size: @button-height * .5;
    line-height: @button-height;
    
    text-decoration: none;
    text-align: center;

    color: @button-color;
    background: @button-bgcolor;
    
    border: none;
    border-radius: @button-border-radius;
    
    user-select: none;
    
    #utils > .transition-all;
    
    &:visited {
        color: @button-color;
        background: @button-bgcolor;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        color: @button-color__focus;
        background: @button-bgcolor__focus;
        outline: none;
    }
    
    &:active {
        cursor: pointer;
        color: @button-color__active;
        background: @button-bgcolor__active;
    }
    
    &.-small {
        font-size: @global-ui-height * .3;
        line-height: @global-ui-height * .7;
    }
    
    &.-large {
        font-size: @global-ui-height * 1.2;
        line-height: @global-ui-height * 2;
    }
    
    &.-dangerous {
        color: @button-color-dangerous;
        background: @button-bgcolor-dangerous;
        
        text-transform: uppercase;
        
        &:visited {
            color: @button-color-dangerous;
            background: @button-bgcolor-dangerous;
        }
        
        &:hover,
        &:focus {
            color: @button-color-dangerous__focus;
            background: @button-bgcolor-dangerous__focus;
        }
        
        &:active {
            color: @button-color-dangerous__active;
            background: @button-bgcolor-dangerous__active;
        }
    }
    
    &.-ghost {
        color: @button-color-ghost;
        background: transparent;
        border: @button-border-width solid @button-color-ghost;
        
        &:hover,
        &:focus {
            color: @button-color-ghost__focus;
            background: @button-bgcolor-ghost__focus;
            border-color: @button-bgcolor-ghost__focus;
        }
    }
}
