// @name ButtonDropdown
// @depends button
// @depends dropdown-options
// @depends shadow-toggle
//
// @markup
//  <div class='mui-button-dropdown'>
//      <a class='mui-button' aria-label='Dropdown button'>button <i class='fa fa-arrow-down'></i></a>          
//      <ul class='mui-dropdown-options _shadow-1'>
//          <li class='option'><a href='' aria-label='Option 1'>Link #1</a></li>
//          <li class='option'><a href='' aria-label='Option 2'>Link #2</a></li>
//          <li class='option'><a href='' aria-label='Option 3'>Link #3</a></li>
//      </ul>
//      <div class='mui-shadow-toggle' aria-label='Close dropdown menu'></div>
//  </div>


.@{muilessium-prefix}button-dropdown {
    display: inline-block;
    position: relative;

    > .@{muilessium-prefix}button {
        position: relative;
    }

    > .@{muilessium-prefix}dropdown-options {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        width: 100%;
        z-index: 11;
    }

    &.-opened {
        > .@{muilessium-prefix}button {
            z-index: 11;
        }

        > .@{muilessium-prefix}dropdown-options {
            display: block;
        }
    }
}

