// @name Button
// @description Button can include an icon, a badge or a label. Buttons can be used in more complex components like button-groups.
//
// @markup
//  <a class='mui-button'               aria-label=''>button</a>
//  <a class='mui-button -small'        aria-label=''>button</a>
//  <a class='mui-button -large'        aria-label=''>button</a>
//  <a class='mui-button -dangerous'    aria-label=''>button</a>
//  <a class='mui-button -ghost'        aria-label=''>button</a>
//  <a class='mui-button -ghost -light' aria-label=''>button</a>
//  <a class='mui-button' aria-label=''>
//      <span>&lowast;</span>
//      <span>button</span>
//  </a>
//  <a class='mui-button -icon' aria-label=''>
//      <span>&lowast;</span>
//  </a>
//  <a class='mui-button' aria-label=''>
//      <span>button</span>
//      <span class='mui-badge' aria-label='5 messages total'>5</span>
//  </a>
//  <a class='mui-button -badge-on-top' aria-label=''>
//      <span>button</span>
//      <span class='mui-badge' aria-label='5 messages total'>5</span>
//  </a>
//  <a class='mui-button -label-left' aria-label=''>
//      <span>button</span>
//      <span class='label'>label</span>
//  </a>
//  <a class='mui-button -label-right' aria-label=''>
//      <span>button</span>
//      <span class='label'>label</span>
//  </a>


.@{muilessium-prefix}button {
    display: inline-block;
    position: relative;
    
    padding: 0 1em;
    
    font-size: 1rem;
    line-height: 2;
    
    text-decoration: none;
    text-align: center;

    color: @white;
    background: @grey-4;
    
    border: none;
    border-radius: @default-border-radius;
    
    user-select: none;
    
    transition: all @default-animation-duration @default-animation-function;
    
    &:visited {
        color: @white;
        background: @grey-4;
    }
    
    &:hover,
    &:focus {
        color: @white;
        cursor: pointer;
        background: @grey-5;
        outline: none;
    }
    
    &:active {
        cursor: pointer;
        background: @black;
    }
    
    &.-small {
        ._smaller-2;
    }
    
    &.-large {
        ._bigger-2;
    }
    
    &.-dangerous {
        color: @white;
        background: @grey-5;
        
        text-transform: uppercase;
        
        &:visited {
            color: @white;
            background: @grey-5;
        }
        
        &:hover,
        &:focus {
            background: @black;
        }
        
        &:active {
            color: @white;
            background: @black;
        }
    }
    
    &.-ghost {
        color: @black;
        background: @transparent;
        border: 1px solid @black;
        
        &:hover,
        &:focus {
            color: @black;
            background: @grey-2;
            border-color: @black;
        }

        &.-light {
            color: @white;
            border-color: @white;

            &:hover,
            &:focus {
                color: @white;
                background: @black;
                border-color: @white;
            }
        }
    }

    &.-icon {
        height: @default-ui-height;
        width:  @default-ui-height;

        padding: 0;
    }

    > .mui-badge {
        color: @white;
        background: @grey-5;
    }

    &.-badge-on-top {
        > .mui-badge {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%) translateY(-50%);
        }
    }

    > .label {
        display: inline-block;
        height: 100%;

        padding: 0 1rem;

        color: @white;
        background: @grey-5;
    }

    &.-label-right {
        padding-right: 0;

        #utils > .clearfix;

        > .label {
            float: right;
            margin-left: 1rem;

            border-radius: 0 @default-border-radius @default-border-radius 0;
        }
    }

    &.-label-left {
        padding-left: 0;

        #utils > .clearfix;

        > .label {
            float: left;
            margin-right: 1rem;

            border-radius: @default-border-radius 0 0 @default-border-radius;
        }
    }
}

