// @name Card
// @description Card component
//
// @state -line-after-header - Add line after card header
//
// @markup
//      <div class="mui-card">
//          <div class="header">Lorem ipsum</div>
//          <div class="content">
//              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, magni.</p>
//          </div>
//      </div>

// @name Card
// @description Card with image
//
// @markup
//      <div class="mui-card -image">
//          <div class="header">
//              <img src="https://placehold.it/800x600">
//          </div>
//          <div class="content">
//              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, magni.</p>
//          </div>
//      </div>


.@{muilessium-prefix}card {
    display: block;
    position: relative;
    
    overflow: hidden;
    
    color: @card-color;
    background: @card-bgcolor;
    border-radius: @card-border-radius;
    
    #utils > .shadow;
    
    > .header {
        padding: @card-padding;
        text-align: center;
        
        color: @card-header-color;
        background: @card-header-bgcolor;
        
        border-top-left-radius: @card-border-radius;
        border-top-right-radius: @card-border-radius;
    }

    > .content {
        padding: @card-padding;
    }

    &.-line-after-header {
        > .header {
            border-bottom: @card-line-after-header-width solid @card-line-after-header-color;
        }
    }

    &.-image {
        > .header {
            padding: 0;
        }

        > .header > img {
            width: 100%;
        }
    }
}
