// @name Card
// @description It is desirable to wrap card header text into h2-h6 tags for better navigation.
//
// @markup
//  <div class='mui-card _shadow-1'>
//      <div class='header'>
//          <h5>Lorem ipsum</h5>
//      </div>
//      <div class='content'>
//          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, magni.</p>
//      </div>
//  </div>

// @name Card
// @description Same card, but with an image instead of traditional header. If an image used here only for presentation purposes, role='presentation' should be added to it manually.
//
// @markup
//  <div class='mui-card -with-image _shadow-1'>
//      <div class='header'>
//          <img class='mui-image -js-lazy-load' data-src='https://placehold.it/800x600' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Card header'>
//      </div>
//      <div class='content'>
//          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, magni.</p>
//      </div>
//  </div>


.@{muilessium-prefix}card {
    display: block;
    position: relative;
    
    overflow: hidden;
    
    border-radius: @default-border-radius;
    
    > .header {
        padding: 1rem;
        text-align: center;
        
        color: @white;
        background: @grey-4;
        
        border-top-left-radius: @default-border-radius;
        border-top-right-radius: @default-border-radius;
    }

    > .content {
        padding: 1rem;
    }

    &.-with-image {
        > .header {
            padding: 0;
        }

        > .header > img {
            width: 100%;
        }
    }
}

