.@{muilessium-prefix}card {
    display: block;
    position: relative;
    
    padding: 1rem;
    
    #utils > .shadow;
    
    > .card-header {
        position: relative;
        top: -1rem;
        left: -1rem;
        
        width: ~'calc(100% + 2rem)';
        
        padding: 1rem;
        
        text-align: center;
        
        color: @card-header-color;
        background: @card-header-bgcolor;
    }
}