// @name Carousel
// @description Carousel component
//
// @lvar carousel-color - white
// @lvar carousel-controls-background - black
// @lvar carousel-animation-duration - 500ms
// @lvar carousel-animation-function - cubic-bezier(.85, .11, .46, .98)
//
// @markup
//      <div class="mui-carousel">
//          <ul class="mui-slides">
//              <li class="mui-slide -active">
//                  <img src="https://placehold.it/1200x800" alt="" class="background">
//                  <div class="mui-slide-content -center">
//                      <div class="title">1. Lorem ipsum dolor.</div>
//                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ipsa.</div>
//                  </div>
//              </li>
//              <li class="mui-slide">
//                  <img src="https://placehold.it/1200x800" alt="" class="background">
//                  <div class="mui-slide-content -content-left">
//                      <div class="title">2. Lorem ipsum dolor sit amet.</div>
//                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, illo.</div>
//                  </div>
//              </li>
//              <li class="mui-slide">
//                  <img src="https://placehold.it/1200x800" alt="" class="background">
//                  <div class="mui-slide-content -content-right">
//                      <div class="title">3. Lorem ipsum dolor sit.</div>
//                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquam.</div>
//                  </div>
//              </li>
//          </ul>
//          <div class="mui-carousel-controls">
//              <div class="prev" tabindex="1">&lsaquo;</div>
//              <div class="next" tabindex="1">&rsaquo;</div>
//          </div>
//          <ul class="mui-carousel-indicators">
//              <li class="indicator -active" tabindex="1"></li>
//              <li class="indicator" tabindex="1"></li>
//              <li class="indicator" tabindex="1"></li>
//          </ul>
//      </div>


@carousel-color:               @white;
@carousel-controls-background: @black;
@carousel-animation-duration:  500ms;
@carousel-animation-function:  cubic-bezier(.85, .11, .46, .98);


.@{muilessium-prefix}carousel {
    position: relative;
    
    height: 20rem;
    width: 100%;
}

.@{muilessium-prefix}slides {
    position: inherit;
    
    height: inherit;
    width: inherit;
    
    margin: 0;
    
    list-style: none;
}

.@{muilessium-prefix}slide {
    #utils > .absolute-zero;
    
    height: inherit;
    width: inherit;
    
    overflow: hidden;
    
    margin: 0 !important;

    opacity: 0;
    transition: opacity @carousel-animation-duration @carousel-animation-function;

    &.-active {
        opacity: 1;
    }
    
    > img.background {
        height: inherit;
        width: inherit;
        
        #utils > .object-fit-cover;
    }
}

.@{muilessium-prefix}slide-content {
    #utils > .absolute-center;
    
    width: inherit;
    
    padding: 1rem 6rem;
    
    text-align: center;
    
    color: @carousel-color;

    &.-content-center {
        text-align: center;
    }

    &.-content-left {
        text-align: left;
    }

    &.-content-right {
        text-align: right;
    }

    @media screen and (max-width: 40rem) {
        text-align: center !important;
    }
    
    > .title {
        font-size: 2rem;
        line-height: 1.2;
    }
    
    > .text {
        
    }
}

.@{muilessium-prefix}carousel-controls {
    #utils > .absolute-zero;
    
    height: inherit;
    width: inherit;
    
    > .prev,
    > .next {
        position: absolute;
        top: 0;
        
        height: inherit;
        width: 5rem;
        
        font-size: 4rem;
        line-height: 20rem;
        text-align: center;
        
        color: @carousel-color;
        background: fade(@carousel-controls-background, 30%);
        
        #utils > .transition-all;
        
        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;
        }

        &:hover {
            background: fade(@carousel-controls-background, 80%);
        }
    }
    
    > .prev {
        left: 0;
    }
    
    > .next {
        right: 0;
    }
}

.@{muilessium-prefix}carousel-indicators {
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: inherit;
    height: 2rem;

    margin: 0;
    padding: .5rem;

    text-align: center;
    
    list-style: none;

    > .indicator {
        display: inline-block;
        position: relative;
        
        height: 16px;
        width: 16px;
        
        margin: 0 .2rem;
        
        background: fade(@carousel-controls-background, 30%);
        border-radius: 50%;
        
        #utils > .transition-all;

        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;
        }

        &:hover {
            background: fade(@carousel-controls-background, 50%);

            &:after {
                background: @carousel-color;
            }
        }

        &:after {
            content: '';
            
            #utils > .absolute-center;
            
            height: 50%;
            width: 50%;
            
            background: fade(@carousel-color, 20%);
            border-radius: 50%;
            
            #utils > .transition-all;
        }

        &.-active {
            &:after {
                background: fade(@carousel-color, 50%);
            }

            &:hover,
            &:focus {
                &:after {
                    background: @carousel-color;
                }
            }
        }
    }
}
