.@{muilessium-prefix}checkbox {
    > input[type=checkbox] {
        display: none;
    }
    
    > label {
        display: inline-block;
        
        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;
            
            > .icon {
                border-color: @checkbox-color1__focus;
                
                > .fa {
                    color: @checkbox-color1__focus;
                }
            }
        }
    }
    
    > label > .icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        
        height: @global-ui-height;
        width: @global-ui-height;
        
        background: @checkbox-color2;
        border: @global-border-width solid @radio-button-color1;
        
        border-radius: @global-border-radius;
        
        > .fa {
            content: '';
            
            display: block;
            #utils > .absolute-center;
            
            height: 0;
            width: 0;
            
            font-size: 0;
            text-align: center;
            
            color: @radio-button-color1;
            
            opacity: 0;
            
            #utils > .transition-all;
        }
    }
    
    > input[type=checkbox]:checked + label > .icon {
        > .fa {
            height: @global-ui-height * .8;
            width: @global-ui-height * .8;
            
            font-size: @global-ui-height * .8;
            
            opacity: 1;
        }
    }
    
    > label > .text {
        padding: 0 1rem;
    }
}