// @name Checkbox
// @description Checkbox component
// @requires FontAwesome
//
// @state -checked - Checkbox is checked
//
// @see toggle-checkbox
//
// @markup
//      <div class="mui-checkbox">
//          <input id="checkbox-5hdz" type="checkbox" aria-labelledby="wa-poqw" checked>
//          <label id="wa-poqw" for="checkbox-5hdz" role="checkbox" aria-controls="checkbox-5hdz" aria-checked="true">
//              <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
//              <span class="text">Lorem ipsum.</span>
//          </label>
//      </div>


// @name Toggle checkbox
// @description Checkbox component (Toggle variation)
//
// @state -checked - Toggle checkbox is checked
//
// @see checkbox
//
// @markup
//      <div class="mui-checkbox -toggle">
//          <input id="checkbox-26jc" type="checkbox" aria-labelledby="wa-rewe" checked>
//          <label id="wa-rewe" for="checkbox-26jc" role="checkbox" aria-controls="checkbox-26jc" aria-checked="true">
//              <span class="icon"></span>
//              <span class="text">Lorem ipsum.</span>
//          </label>
//      </div>


.@{muilessium-prefix}checkbox {
    user-select: none;
    
    > input[type=checkbox] {
        display: none;
    }
    
    > label {
        display: inline-block;
        
        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;
            
            > .icon {
                border-color: @checkbox-border-color__focus;
                
                > .fa {
                    color: @checkbox-icon-color__focus;
                }
            }
        }
    }
    
    > label > .icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        
        height: @checkbox-height;
        width: @checkbox-height;
        
        background: @checkbox-bgcolor;
        border: @checkbox-border-width solid @checkbox-border-color;
        
        border-radius: @checkbox-border-radius;
        
        > .fa {
            content: '';
            
            display: block;
            #utils > .absolute-center;
            
            height: 0;
            width: 0;
            
            font-size: 0;
            text-align: center;
            
            color: @checkbox-icon-color;
            
            opacity: 0;
            
            #utils > .transition-all;
        }
    }
    
    &.-checked > label > .icon {
        > .fa {
            height: @checkbox-height * .8;
            width: @checkbox-height * .8;
            
            font-size: @checkbox-height * .8;
            
            opacity: 1;
        }
    }
    
    > label > .text {
        padding: 0 1rem;
    }
    
    &.-toggle {
        > label > .icon {
            background: @toggle-checkbox-bgcolor;
            width: @toggle-checkbox-height * 2;
            overflow: hidden;
            
            #utils > .transition-all;
            
            &:before,
            &:after {
                display: block;
                position: absolute;
                top: -@toggle-checkbox-border-width;
                left: 0;
                
                height: @toggle-checkbox-height;
                width: @toggle-checkbox-height;
                
                line-height: @toggle-checkbox-height;
                font-size: @toggle-checkbox-height * .4;
                text-align: center;
                text-transform: uppercase;

                background: @toggle-checkbox-toggle-bgcolor;
                color: @toggle-checkbox-toggle-color;
                
                border-radius: @checkbox-border-radius;
                
                transition: all @toggle-checkbox-animation-duration @toggle-checkbox-animation-function;
            }
            
            &:before {
                content: 'off';
            }
            
            &:after {
                content: 'on';
                opacity: 0;
            }
        }
        
        &.-checked > label > .icon {
            background: @toggle-checkbox-bgcolor__checked;
            
            &:before,
            &:after {
                left: ~'calc(100% - ' @checkbox-height ~')';

                background: @toggle-checkbox-toggle-bgcolor__checked;
                color: @toggle-checkbox-toggle-color__checked;
            }
            
            &:after {
                opacity: 1;
            }
        }
    }
}
