// @name Collection
// @description Collection component
//
// @markup
//      <ul class="mui-collection">
//          <li class="item">Lorem ipsum dolor sit amet. <span class="mui-badge">2</span></li>
//          <li class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quas.</li>
//          <li class="item">Lorem ipsum dolor sit. <span class="mui-badge">5</span></li>
//          <li class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur repellendus nulla eos deleniti ullam! Aliquid voluptate dicta cupiditate accusamus odit. <span class="mui-badge">106</span></li>
//      </ul>

.@{muilessium-prefix}collection {
    margin: 0;
    
    list-style: none;
    
    > .item {
        display: block;
        position: relative;
        
        margin: 0;
        padding: 1rem 3rem 1rem 1rem;
        
        border: solid @global-border-width @collection-border-color;
        
        &:first-of-type {
            border-top-left-radius: @global-border-radius;    
            border-top-right-radius: @global-border-radius;    
        }
        
        &:not(:first-of-type) {
            border-top: none;
        }
        
        &:last-of-type {
            border-bottom-left-radius: @global-border-radius;    
            border-bottom-right-radius: @global-border-radius;    
        }
    }
    
    > .item > .@{muilessium-prefix}badge {
        position: absolute;
        top: 1rem;
        right: 1rem;
        
        color: @collection-badge-color;
        background: @collection-badge-bgcolor;
    }
}