// @name Collection
// @description Can be used with badges.
//
// @markup
//  <ul class='mui-collection'>
//      <li class='item'>
//          <div class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
//          <div class='badge'>
//              <span class='mui-badge'>2</span>
//          </div>
//      </li>
//      <li class='item'>
//          <div class='content'>Lorem ipsum dolor sit amet.</div>
//          <div class='badge'>
//              <span class='mui-badge'>1024</span>
//          </div>
//      </li>
//      <li class='item'>
//          <div class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
//          <div class='badge'>
//              <span class='mui-badge'>14</span>
//          </div>
//      </li>
//  </ul>


.@{muilessium-prefix}collection {
    margin: 0;    
    list-style: none;
    
    > .item {
        display: table;
        width: 100%;
        margin: 0;
        border: 1px solid @grey-3;

        &:first-of-type {
            border-top-left-radius: @default-border-radius;    
            border-top-right-radius: @default-border-radius;    
        }
        
        &:not(:first-of-type) {
            border-top: none;
        }
        
        &:last-of-type {
            border-bottom-left-radius: @default-border-radius;    
            border-bottom-right-radius: @default-border-radius;    
        }
    }

    > .item > .content {
        display: table-cell;
        padding: 1rem;
    }


    > .item > .badge {
        display: table-cell;
        padding: 1rem;
        text-align: right;
    }
}

