.@{muilessium-prefix}-column {
    display: inline-block;
    float: left;
    
    width: 100%;
    
    &.-full-width { width: 100%;       }
    &.-one-half   { width: 50%;        }
    &.-one-third  { width: 33.333333%  }
    &.-two-thirds { width: 66.666667%  }
    
    &.-s1  { width:  8.333333%; }
    &.-s2  { width: 16.666667%; }
    &.-s3  { width: 25.0%;      }
    &.-s4  { width: 33.333333%; }
    &.-s5  { width: 41.666667%; }
    &.-s6  { width: 50.0%;      }
    &.-s7  { width: 58.333333%; }
    &.-s8  { width: 66.666667%; }
    &.-s9  { width: 75.0%;      }
    &.-s10 { width: 83.333333%; }
    &.-s11 { width: 83.333333%; }
    &.-s12 { width: 100%;       }
    
    &.-offset-1  { margin-left:  8.333333%; }
    &.-offset-2  { margin-left: 16.666667%; }
    &.-offset-3  { margin-left: 25.0%;      }
    &.-offset-4  { margin-left: 33.333333%; }
    &.-offset-5  { margin-left: 41.666667%; }
    &.-offset-6  { margin-left: 50.0%;      }
    &.-offset-7  { margin-left: 58.333333%; }
    &.-offset-8  { margin-left: 66.666667%; }
    &.-offset-9  { margin-left: 75.0%;      }
    &.-offset-10 { margin-left: 83.333333%; }
    &.-offset-11 { margin-left: 83.333333%; }
    &.-offset-12 { margin-left: 100%;       }
}