// @name Comments list
// @description Comments list component
//
// @markup
//      <ul class="mui-comments-list"></ul>

.@{muilessium-prefix}comments-list {
    list-style: none;
    margin: 0;
    
    > .@{muilessium-prefix}comment {
        display: block;    
    }
}