// @name Comment
// @description Comment component
//
// @markup
//      <div class="mui-comment">
//          <img src="https://placehold.it/64x64" alt="" class="avatar">
//          <div class="comment-info">
//              <div class="author"><a href="">Arianna Grey</a></div>
//              <div class="date">26 Jul 2016</div>
//          </div>
//          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto animi beatae minima, earum eligendi. Corporis mollitia illo, temporibus nesciunt. Illum optio placeat maxime, earum cupiditate!</div>
//      </div>

.@{muilessium-prefix}comment {
    padding: 1rem;
    
    > .avatar {
        display: inline-block;
        
        height: 3rem;
        width: 3rem;
        
        background: @comment-avatar-bgcolor;
    }
    
    > .comment-info {
        display: inline-block;
        vertical-align: top;
        
        padding: 0 1rem;
    }
    
    > .comment-info > .author {
        font-weight: 600;
    }
    
    > .comment-info > .author > a {
        text-decoration: none;
        color: @comment-color;
        
        &:visited {
            color: @comment-color;
        }
        
        &:hover,
        &:focus {
            color: @comment-color__focus;
        }
    }
    
    > .comment-info > .date {
        font-size: .9rem;
        margin-bottom: .3rem;
        color: @comment-date-color;
    }
    
    > .text {
        text-align: justify;
        padding: .5rem 0;
    }
}