.@{muilessium-prefix}content-container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    
    margin: 0 auto;
    
    #utils > .clearfix;
    
    &.-limit-width {
        max-width: @global-width-limit;
    }
}


.@{muilessium-prefix}page-container {
    flex: 1 0 auto;
}
