// @name Content container
// @description Container for content with limited width.
//
// @markup
//  <div class='mui-content-container'></div>

.@{muilessium-prefix}content-container {
    #utils > .clearfix;

    position: relative;
    width: 90%;
    max-width: @max-container-width;    
    margin: 0 auto;
    
    &.-no-limit-width {
        max-width: 100%;
    }
}


// @name Page container
// @description Container for creating sticky footer. Should include all page content before page-footer.
//
// @markup
//  <div class='mui-page-container'></div>


.@{muilessium-prefix}page-container {
    flex: 1 0 auto;
}

