// @name Dropdown options
// @description This component should be used as a part of more complex components. See button-dropdown and select-dropdown components for more information.

.@{muilessium-prefix}dropdown-options {
    position: relative;
    width: 100%;

    padding: 1rem;

    list-style: none;

    background: @white;

    text-align: left;
    border-radius: @default-border-radius;

    #utils > .shadow;

    > .option {
        font-size: 1.1rem;
        line-height: 1.6;
        cursor: pointer;

        &:hover,
        &:focus {
            color: @grey-4;
        }
    }
}
