.@{muilessium-prefix}-header-logo {
    display: inline-block;
    
    font-size: @header-height * .7;
    line-height: @header-height;
    
    color: @header-logo-color;
    background: @header-logo-bgcolor;
    
    > a {
        color: @header-logo-color;
        text-decoration: none;
    }
}