// @name Hero header
// @description Hero header component. No options.
//
// @markup
//  <div class='mui-hero-header'>
//      <img src='https://placehold.it/1200x800' alt='' class='background' role='presentation'>
//      <div class='content'>
//          <h2>Lorem ipsum dolor sit amet.</h2>
//          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, excepturi!</p>
//      </div>
//  </div>


.@{muilessium-prefix}hero-header {
    position: relative;
    
    height: 20rem;
    width: 100%;
    
    overflow: hidden;
    
    > .background {
        height: inherit;
        width: inherit;
        
        #utils > .object-fit-cover;
    }
    
    > .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: 100%;
        
        padding: 1rem 4rem;
        
        text-align: center;
        
        color: @white;
    }
    
    &.-full-height {
        height: 100vh;
    }
}

