// @name Info bubble
// @description Info bubble component
//
// @markup
//      <div class="mui-info-bubble">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, sunt?</div>


.@{muilessium-prefix}info-bubble {
    display: inline-block;
    position: relative;
    
    min-height: 1rem;
    min-width: 4rem;
    max-width: 20rem;

    padding: .8rem;
    
    font-size: .8rem;
    text-align: justify;
    
    color: @info-bubble-color;
    background: @info-bubble-bgcolor;
    
    &:after {
        content: '';
        
        display: block;
        position: absolute;
        bottom: ~'calc(-1rem + .5px)';
        left: 50%;
        transform: translateX(-50%);
        
        border-top: 1rem solid @info-bubble-bgcolor;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
    }
}
