// @name Input label
// @description Input label component
//
// @markup
//      <label class="mui-input-label">Your text</label>

.@{muilessium-prefix}input-label {
    display: block;

    margin-bottom: .7rem;

    font-weight: 600;
    font-size: 1rem;
    
    color: @input-label-color;
}