// @name Input label
// @description Input label component
//
// @lvar input-label-color - black
//
// @see input, input-wrapper
//
// @markup
//      <label class="mui-input-label">Your text</label>


@input-label-color: @black;


.@{muilessium-prefix}input-label {
    display: block;

    margin-bottom: .7rem;

    font-weight: 600;
    font-size: 1rem;
    
    color: @input-label-color;
}
