.@{muilessium-prefix}-input {
    position: relative;
    
    width: 100%;
    
    border-radius: @global-border-radius;
    overflow: hidden;
    
    &:hover {
        cursor: pointer;
    }
    
    > input {
        width: 100%;
        
        padding: 0 1rem;
        
        line-height: @global-ui-height;
        
        color: @input-color;
        border: 1px solid @input-color;
        
        outline: none;
        overflow: hidden;
        border-radius: @global-border-radius;

        &::placeholder {
            color: @input-color;
            text-indent: 0;
            opacity: 1;
            
            #utils > .transition-all;
        }

        &:focus {
            color: @input-color__focus;

            &::placeholder {
                text-indent: -30rem;
                opacity: 0;
            }
        }
    }
    
    &.-icon-left {
        > input {
            text-indent: @global-ui-height;
            
            &::placeholder {
                text-indent: @global-ui-height;
            }
        }
        
        > .icon {
            position: absolute;
            left: 1px;
            top: 1px;
            
            width: @global-ui-height;

            font-size: @global-ui-height * .5;
            line-height: @global-ui-height;
            text-align: center;
            
            color: @input-icon-color;
            background: @input-icon-bgcolor;
            
            border-top-left-radius: @global-border-radius - 1;
            border-bottom-left-radius: @global-border-radius - 1;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    &.-icon-right {
        > .icon {
            position: absolute;
            right: 1px;
            top: 1px;
            
            width: @global-ui-height;
            
            font-size: @global-ui-height * .5;
            line-height: @global-ui-height;
            text-align: center;
            
            color: @input-icon-color;
            background: @input-icon-bgcolor;
            
            
            border-top-right-radius: @global-border-radius - 1;
            border-bottom-right-radius: @global-border-radius - 1;
 
            &:hover {
                cursor: pointer;
            }
        }
    }
}