// @name Range
// @component Range input
//
// @markup
//      <div class="mui-input-wrapper">
//          <label class="mui-input-label" for="wa-dfds" id="wa-fdsd">Select price</label>
//          <div class="mui-input-range">
//              <input type="range" id="wa-dfds" aria-labelledby="wa-fdsd">
//          </div>
//      </div>


// There is a lot of hacks here.
// See https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
// for more information.
//
// TODO: Fix slider thumb height in IE11

.@{muilessium-prefix}input-range input {
    width: 100%;
    
    background: transparent;
    
    -webkit-appearance: none;
    outline: none;
    user-select: none;
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    
    &:focus {
        &::-webkit-slider-runnable-track {
            background: @range-track-bgcolor__focus;
        }
        
        &::-webkit-slider-thumb {
            border-color: @range-thumb-border-color__focus;
            background: @range-thumb-bgcolor__focus;
        }
        
        &::-moz-range-thumb {
            border-color: @range-thumb-border-color__focus;
            background: @range-thumb-bgcolor__focus;
        }
        
        &::-ms-thumb {
            border-color: @range-thumb-border-color__focus;
            background: @range-thumb-bgcolor__focus;
        }
        
        &::-webkit-slider-runnable-track {
            border-color: @range-track-color__focus;
            background: @range-track-bgcolor__focus;
        }
        
        &::-moz-range-track {
            border-color: @range-track-color__focus;
            background: @range-track-bgcolor__focus;
        }
        
        &::-ms-track {
            border-color: @range-track-color__focus;
            background: @range-track-bgcolor__focus;
        }
        
        &::-ms-fill-lower,
        &::-ms-fill-upper {
            background: @range-track-bgcolor__focus;
        }
    }
    
    &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent; 
        border-color: transparent;
        color: transparent;
    }
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: @global-ui-height;
        width: @global-ui-height;
        border: @global-border-width solid @range-thumb-border-color;
        background: @range-thumb-bgcolor;
        border-radius: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        #utils > .transition-all;
    }
    
    &::-moz-range-thumb {
        height: @global-ui-height;
        width: @global-ui-height;
        border: @global-border-width solid @range-thumb-border-color;
        background: @range-thumb-bgcolor;
        border-radius: 50%;
        cursor: pointer;
        #utils > .transition-all;
    }
    
    &::-ms-thumb {
        height: @global-ui-height;
        width: @global-ui-height;
        border: @global-border-width solid @range-thumb-border-color;
        background: @range-thumb-bgcolor;
        border-radius: 50%;
        cursor: pointer;
        #utils > .transition-all;
    }
    
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: .5rem;
        cursor: pointer;
        background: @range-track-bgcolor;
        border-radius: 0;
        border: @global-border-width solid @range-track-color;
        #utils > .transition-all;
    }
    
    &::-moz-range-track {
        width: 100%;
        height: .5rem;
        cursor: pointer;
        background: @range-track-bgcolor;
        border-radius: 0;
        border: @global-border-width solid @range-track-color;
        #utils > .transition-all;
    }
    
    &::-ms-track {
        width: 100%;
        height: .5rem;
        cursor: pointer;
        background: @range-track-bgcolor;
        border-radius: 0;
        border: @global-border-width solid @range-track-color;
        #utils > .transition-all;
    }
    
    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: @range-track-bgcolor;
        border: @global-border-width solid @range-track-color;
        border-radius: 0;
        #utils > .transition-all;
    }
}
