.@{muilessium-prefix}lazy-load {
    display: block;
    width: 100%;
    opacity: 0;

    transition: opacity @lazy-load-animation-duration @lazy-load-animation-function;

    &.-loaded {
        opacity: 1;
    }
}


