// @name Lazy Load
// @description Lazy load for images
//
// @markup
//      <img class="mui-lazy-load" src="" data-src="https://placehold.it/1200x800" alt="">


.@{muilessium-prefix}lazy-load {
    display: block;
    width: 100%;
    opacity: 0;

    transition: opacity @lazy-load-animation-duration @lazy-load-animation-function;

    &.-loaded {
        opacity: 1;
    }
}


