// @name Lazy load
// @description This component should be used for the lazy loading of images, data-src attribute should include path to the image and src attribute should be empty or include path to 1x1px transparent gif or something like it. Lazy loaded images have 100% width by default.
//
// @markup
//  <img class='mui-lazy-load' data-src='https://placehold.it/128x128' alt='Lazy loaded image' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'>

.@{muilessium-prefix}lazy-load {
    display: block;
    width: 100%;
    opacity: 0;

    transition: opacity @lazy-load-animation-duration @lazy-load-animation-function;

    &.-loaded {
        opacity: 1;
    }
}


