.@{muilessium-prefix}login-form {
    .mui-input-wrapper,
    .mui-button,
    .forgot-password {
        margin-top: 1rem;
    }
    
    .forgot-password {
        display: inline-block;
        float: right;
        font-size: .8rem;
    }
}