// @name Login form
// @description Login form component
//
// @see card, card-header, input, input-wrapper, input-label, button
//
// @markup
//      <form action="test" class="mui-card mui-login-form">
//          <div class="header">Login form</div>
//          <div class="content">
//              <div class="mui-input-wrapper">
//                  <label for="text-c2cf" class="mui-input-label">Username</label>
//                  <div class="mui-input -icon-left">
//                      <input type="text" id="text-c2cf" placeholder="Input with icon">
//                      <label class="icon" for="text-c2cf"><i class="fa fa-user"></i></label>
//                  </div>
//              </div>
//              <div class="mui-input-wrapper">
//                  <label for="text-1mv5" class="mui-input-label">Password</label>
//                  <div class="mui-input -icon-left">
//                      <input type="password" id="text-1mv5" placeholder="Input with icon">
//                      <label class="icon" for="text-1mv5"><i class="fa fa-key"></i></label>
//                  </div>
//              </div>
//              <input type="submit" value="Login" class="mui-button">
//              <a href="" class="forgot-password">Forgot your password</a>
//          </div>
//      </form>

.@{muilessium-prefix}login-form {
    .mui-input-wrapper,
    .mui-button,
    .forgot-password {
        margin-top: 1rem;
    }
    
    .forgot-password {
        display: inline-block;
        float: right;
        font-size: .8rem;
    }
}
