// @name Login form
// @description Login form component
//
// @markup
//      <form action="test" class="mui-card mui-login-form">
//          <div class="card-header">Login form</div>
//          <div class="mui-input-wrapper">
//              <label for="text2" class="mui-input-label">Username</label>
//              <div class="mui-input -icon-left">
//                  <input type="text" id="text6" placeholder="Input with icon">
//                  <label class="icon" for="text6"><i class="fa fa-user"></i></label>
//              </div>
//          </div>
//          <div class="mui-input-wrapper">
//              <label for="text2" class="mui-input-label">Password</label>
//              <div class="mui-input -icon-left">
//                  <input type="password" id="text5" placeholder="Input with icon">
//                  <label class="icon" for="text5"><i class="fa fa-key"></i></label>
//              </div>
//          </div>
//          <input type="submit" value="Login" class="mui-button">
//          <a href="" class="forgot-password">Forgot your password</a>
//      </form>

.@{muilessium-prefix}login-form {
    .mui-input-wrapper,
    .mui-button,
    .forgot-password {
        margin-top: 1rem;
    }
    
    .forgot-password {
        display: inline-block;
        float: right;
        font-size: .8rem;
    }
}