// @name Marker
// @description Marker component
//
// @lvar marker-color   - white
// @lvar marker-bgcolor - primary-color
//
// @markup
//      <span class="mui-marker">lorem ipsum</span>


@marker-color:   @white;
@marker-bgcolor: @primary-color;


.@{muilessium-prefix}marker,
mark {
    padding: 0 .3rem;
    
    color: @marker-color;
    background: @marker-bgcolor;
}
