// @name Media view
// @description Media view component
//
// @state -full-width - Media view with max-width 100%
//
// @markup
//      <div class="mui-media-view">
//          <img src="https://placehold.it/1200x800" alt="">
//          <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ea.</div>
//      </div>

.@{muilessium-prefix}media-view {
    max-width: 90%;
    
    &.-full-width {
        max-width: 100%;
    }
    
    > img {
        max-width: 100%;
        margin-bottom: 1rem;
    }
    
    > iframe {
        width: 100% !important;
        max-width: 100%;
        
        margin-bottom: 1rem;
    }
    
    > .description {
        font-size: .8rem;
        text-align: center;
        
        color: @media-description-color;
    }
}