.@{muilessium-prefix}media-view {
    max-width: 90%;
    
    &.-full-width {
        max-width: 100%;
    }
    
    > img {
        max-width: 100%;
        margin-bottom: 1rem;
    }
    
    > iframe {
        width: 100% !important;
        max-width: 100%;
        
        margin-bottom: 1rem;
    }
    
    > .description {
        font-size: .8rem;
        text-align: center;
        
        color: @media-description-color;
    }
}