.mui-button {
    font-family: @sans-serif-font-family;
    font-size: 1rem;
    line-height: 2.2;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0 1em;
    display: inline-block;
    color: @button-color;
    background: @button-bgcolor;
    border: none;
    border-radius: @global-border-radius;
    
    &:visited {
        color: @button-color;
        background: @button-bgcolor;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        background: @button-bgcolor__focus;
        color: @button-color__focus;
        outline: none;
    }
    
    &:active {
        cursor: pointer;
        background: @button-bgcolor__active;
        color: @button-color__active;
    }
    
    &.-small {
        font-size: .7rem;
    }
    
    &.-large {
        font-size: 1.5rem;
    }
    
    &.-dangerous {
        color: @button-color-dangerous;
        background: @button-bgcolor-dangerous;
        
        &:visited {
            color: @button-color-dangerous;
            background: @button-bgcolor-dangerous;
        }
        
        &:hover,
        &:focus {
            color: @button-color-dangerous__focus;
            background: @button-bgcolor-dangerous__focus;
        }
        
        &:active {
            color: @button-color-dangerous__active;
            background: @button-bgcolor-dangerous__active;
        }
    }
}