// @name Header logo
// @description Header logo component
// @depends page-header
//
// @markup
//  <div class='mui-header-logo'>
//      <a href=''>
//          <h1>Logo</h1>
//      </a>
//  </div>


.@{muilessium-prefix}header-logo {
    display: inline-block;
    
    line-height: @default-ui-height * 2;
    
    user-select: none;
    
    > a {
        color: @black;
        text-decoration: none;
    }
}
