.@{muilessium-prefix}page-header {
    position: relative;
    
    height: @header-height;
    
    #utils > .shadow;
    #utils > .clearfix;
    
    > .@{muilessium-prefix}header-navigation {
        float: right;
    }
    
    > .@{muilessium-prefix}header-logo {
        float: left;
        margin-left: 1rem;
    }
}