// @name Header logo
// @description Header logo component
//
// @lvar header-logo-height  - header-height
// @lvar header-logo-color   - header-color
// @lvar header-logo-bgcolor - header-bgcolor
//
// @see page-header
//
// @markup
//      <div class="mui-header-logo"><a href="">Logo</a></div>


@header-logo-height:  @header-height;
@header-logo-color:   @header-color;
@header-logo-bgcolor: @header-bgcolor;


.@{muilessium-prefix}header-logo {
    display: inline-block;
    
    font-size: @header-logo-height * .7;
    line-height: @header-logo-height;
    
    color: @header-logo-color;
    background: @header-logo-bgcolor;
    
    user-select: none;
    
    > a {
        color: @header-logo-color;
        text-decoration: none;
    }
}
