// @name Page header
// @description Page header component
//
// @lvar header-color   - black
// @lvar header-bgcolor - white
// @lvar header-height  - global-ui-height * 2
//
// @see header-logo, header-navigation
//
// @markup
//      <header class="mui-page-header"></header>


@header-color:   @black;
@header-bgcolor: @white;
@header-height:  @global-ui-height * 2;


.@{muilessium-prefix}page-header {
    position: relative;
    
    height: @header-height;

    color: @header-color;
    background: @header-bgcolor;
    
    #utils > .shadow;
    #utils > .clearfix;
    
    > .@{muilessium-prefix}header-navigation {
        float: right;
    }
    
    > .@{muilessium-prefix}header-logo {
        float: left;
        margin-left: 1rem;
    }
}

