// @name Header navigation
// @description Header navigation component
// @depends page-header
// @requires FontAwesome
//
// @see page-header, header-logo
// 
// @markup
//      <nav class="mui-header-navigation">
//          <div class="mui-navigation-toggle -hamburger">
//              <i class="fa fa-bars" aria-hidden="true"></i>
//          </div>
//          <ul class="links-list">
//              <li><a href="">home</a></li>
//              <li><a href="">about</a></li>
//              <li><a href="">contacts</a></li>
//          </ul>
//          <div class="mui-navigation-toggle mui-shadow-toggle"></div>
//      </nav>


.@{muilessium-prefix}header-navigation {
    height: @header-height;
    
    background: @header-navigation-bgcolor;
    
    overflow: hidden;
    
    user-select: none;
    
    > .links-list {
        list-style: none;
        margin: 0;
    }
    
    > .links-list > li {
        display: inline-block;
        margin: 0;
    }
    
    > .links-list > li > a {
        padding: calc((@header-height - 1em) / 2);
        
        line-height: @header-height;
        text-decoration: none;
        
        color: @header-navigation-color;
        
        #utils > .transition-all;
        
        &:hover,
        &:focus {
            color: @header-navigation-color__focus;
            background: @header-navigation-bgcolor__focus;
            outline: none;
        }
    }
    
    @media screen and (max-width: @mobile-navigation__max-screen-width) {
        > .links-list {
            display: block;
            visibility: hidden;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 11;
            overflow-y: scroll;
            
            height: 100%;
            width: 80%;
            
            background: @mobile-navigation-bgcolor;
            color: @mobile-navigation-color !important;
            
            padding: 1rem;
        
            font-size: 2rem;
            text-align: right;

            transform: translateX(100%);
            
            box-shadow: 0 0 10rem darken(@shadow-color, 10%);
            
            #utils > .transition-all;
            transition-duration: @mobile-navigation-animation-duration;
        }
        
        > .links-list > li {
            display: block;
            overflow: hidden;
            
            margin-left: 0;

            &:first-of-type {
                margin-top: 4rem;
            }

            &:not(:first-of-type) {
                border-top: 1px solid @mobile-navigation-border-color;
            }
        }
        
        > .links-list > li > a {
            display: block;
            padding: .5rem 1rem;
        }
        
        &.-opened > .links-list {
            transform: translateX(0);
            visibility: visible;
        }
        
        &.-opened > .-hamburger {
            color: @hamburger-color__focus;
        }
        
        &.-opened > .-shadow {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.@{muilessium-prefix}navigation-toggle {
    &.-hamburger {
        display: inline-block;
        position: relative;
        float: right;
        
        height: @header-height;
        line-height: @header-height;
        
        padding: 0 1rem;
        
        font-size: 2rem;

        color: @hamburger-color;

        #utils > .transition-all;
        
        @media screen and (min-width: @mobile-navigation__max-screen-width) {
            display: none;
        }
        
        &:hover {
            cursor: pointer;
        }
        
        &:hover,
        &:focus {
            color: @hamburger-color__focus;
        }

        &:active {
            transform: scale(.5);
        }
    }
}
