// @name Pagination
// @state -bordered - Bordered pagination
//
// @markup
//  <div class='mui-pagination' aria-label='Pagination'>
//      <div class='page-link'         ><a href='' aria-label='Previous page'>&larr;</a></div>
//      <div class='page-link'         ><a href='' aria-label='Page number 1'>1</a></div>
//      <div class='page-link'         ><a href='' aria-label='Page number 2'>2</a></div>
//      <div class='page-link -current'><a href='' aria-label='Current page' >3</a></div>
//      <div class='page-link'         ><a href='' aria-label='Page number 4'>4</a></div>
//      <div class='page-link'         ><a href='' aria-label='Page number 5'>5</a></div>
//      <div class='page-link'         ><a href='' aria-label='Next page'>&rarr;</a></div>
//  </div>


.@{muilessium-prefix}pagination {
    position: relative;
    
    text-align: center;
    list-style: none;
    
    user-select: none;
    
    > .page-link {
        display: inline-block;
        height: @default-ui-height;
        margin: 0;
        overflow: hidden;
    }
    
    > .page-link > a {
        display: inline-block;
        height: ~'calc(' @default-ui-height ~' - 2px)';
        padding: 0 1rem;

        font-size: @default-ui-height * .5;
        line-height: ~'calc(' @default-ui-height ~' - 1px)';
        text-decoration: none;
        
        color: @black;
        background: @white;
        
        transition: all @default-animation-duration @default-animation-function;
        
        &:visited,
        &:active {
            color: @black;
        }
        
        &:hover,
        &:focus {
            color: @black;
            background: @grey-3;
        }
    }
    
    > .page-link.-current {
        > a { 
            color: @black;
            background: @grey-2;
        
            &:hover,
            &:focus {
                color: @black;
                background: @grey-3;
            }
        }
    }
    
    > .page-link.-current > a {
        color: @black;
    }
    
    .fa {
        display: inline-block;
        vertical-align: middle;
    }
    
    &.-bordered {
        > .page-link {
            &:first-child > a {
                border-top-left-radius: @default-border-radius;
                border-bottom-left-radius: @default-border-radius;
            }
            
            &:last-child > a {
                border-top-right-radius: @default-border-radius;
                border-bottom-right-radius: @default-border-radius;
            }
            
            > a {
                border: 1px solid @grey-3;
                line-height: ~'calc(' @default-ui-height ~' - ' 2px ~')';

                &:hover,
                &:focus {
                    color: @black;
                    background: @grey-3;
                    border-color: @grey-3;
                }
            }
        }
    }
}

