// @name Pagination
// @description Pagination component
//
// @state -bordered - Bordered pagination
//
// @lvar pagination-color                   - black
// @lvar pagination-bgcolor                 - transparent
// @lvar pagination-color__focus            - primary-color
// @lvar pagination-bgcolor__focus          - transparent
// @lvar pagination-current-color           - white
// @lvar pagination-current-bgcolor         - primary-color
// @lvar pagination-current-color__focus    - white
// @lvar pagination-current-bgcolor__focus  - primary-color
// @lvar pagination-border-color            - grey
// @lvar pagination-border-color__focus     - black
// @lvar pagination-bordered-color__focus   - white
// @lvar pagination-bordered-bgcolor__focus - black
// @lvar pagination-height                  - global-ui-height
// @lvar pagination-border-radius           - global-border-radius
// @lvar pagination-border-width            - global-border-width
//
// @markup
//      <ul class="mui-pagination">
//          <li class="page-link"><a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
//          <li class="page-link"><a href="">1</a></li>
//          <li class="page-link"><a href="">2</a></li>
//          <li class="page-link -current"><a href="">3</a></li>
//          <li class="page-link"><a href="">4</a></li>
//          <li class="page-link"><a href="">5</a></li>
//          <li class="page-link"><a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
//      </ul>


@pagination-color:                   @black;
@pagination-bgcolor:                 transparent;
@pagination-color__focus:            @primary-color;
@pagination-bgcolor__focus:          transparent;
@pagination-current-color:           @white;
@pagination-current-bgcolor:         @primary-color;
@pagination-current-color__focus:    @white;
@pagination-current-bgcolor__focus:  @primary-color;
@pagination-border-color:            @grey;
@pagination-border-color__focus:     @black;
@pagination-bordered-color__focus:   @white;
@pagination-bordered-bgcolor__focus: @black;
@pagination-height:                  @global-ui-height;
@pagination-border-radius:           @global-border-radius;
@pagination-border-width:            @global-border-width;


.@{muilessium-prefix}pagination {
    position: relative;
    
    text-align: center;
    list-style: none;
    
    user-select: none;
    
    > .page-link {
        display: inline-block;
        height: @pagination-height;
        margin: 0;
        overflow: hidden;
    }
    
    > .page-link > a {
        display: inline-block;
        height: ~'calc(' @pagination-height ~' - ' 2*@pagination-border-width ~')';
        padding: 0 1rem;

        font-size: @pagination-height * .5;
        line-height: @pagination-height;
        text-decoration: none;
        
        color: @pagination-color;
        background: @pagination-bgcolor;
        
        #utils > .transition-all;
        
        &:visited,
        &:active {
            color: @pagination-color;
        }
        
        &:hover,
        &:focus {
            color: @pagination-color__focus;
            background: @pagination-bgcolor__focus;
        }
    }
    
    > .page-link.-current {
        color: @pagination-current-color;
        background: @pagination-current-bgcolor;
        
        #utils > .transition-all;
        
        &:hover {
            color: @pagination-current-color__focus;
            background: @pagination-current-bgcolor__focus;
        }
    }
    
    > .page-link.-current > a {
        color: @pagination-current-color;
    }
    
    .fa {
        display: inline-block;
        vertical-align: middle;
    }
    
    &.-bordered {
        > .page-link {
            border: @pagination-border-width solid @pagination-border-color;
            
            &:first-child {
                border-top-left-radius: @pagination-border-radius;
                border-bottom-left-radius: @pagination-border-radius;
            }
            
            &:last-child {
                border-top-right-radius: @pagination-border-radius;
                border-bottom-right-radius: @pagination-border-radius;
            }
            
            &:hover {
                background: @pagination-border-color;
                border-color: @pagination-border-color__focus;
                
                > a {
                    color: @pagination-bordered-color__focus;
                    background: @pagination-bordered-bgcolor__focus;
                }
            }
            
            > a {
                line-height: ~'calc(' @pagination-height ~' - ' 2 * @pagination-border-width ~')';
            }
        }
    }
}
