.@{muilessium-prefix}pagination {
    position: relative;
    
    text-align: center;
    list-style: none;
    
    > .page-link {
        display: inline-block;
        margin: 0;
    }
    
    > .page-link > a {
        display: inline-block;
        
        padding: 0 1rem;
        
        font-size: @global-ui-height * .5;
        line-height: @global-ui-height;
        text-decoration: none;
        
        color: @pagination-color;
        background: @pagination-bgcolor;
        
        #utils > .transition-all;
        
        &:visited,
        &:active {
            color: @pagination-color;
        }
        
        &:hover,
        &:focus {
            color: @pagination-color__focus;
            background: @pagination-bgcolor__focus;
        }
    }
    
    > .page-link.-current {
        color: @pagination-current-color;
        background: @pagination-current-bgcolor;
        
        #utils > .transition-all;
        
        &:hover {
            color: @pagination-current-color__focus;
            background: @pagination-current-bgcolor__focus;
        }
    }
    
    > .page-link.-current > a {
        color: @pagination-current-color;
    }
    
    .fa {
        display: inline-block;
        vertical-align: middle;
    }
    
    &.-bordered {
        > .page-link {
            border: @global-border-width solid @pagination-border-color;
            
            &:first-child {
                border-top-left-radius: @global-border-radius;
                border-bottom-left-radius: @global-border-radius;
            }
            
            &:last-child {
                border-top-right-radius: @global-border-radius;
                border-bottom-right-radius: @global-border-radius;
            }
            
            &:hover {
                background: @pagination-border-color;
                border-color: @pagination-border-color__focus;
                
                > a {
                    color: @pagination-bordered-color__focus;
                    background: @pagination-bordered-bgcolor__focus;
                }
            }
        }
    }
}