.@{muilessium-prefix}p {
    display: block;
    
    max-width: @global-width-limit;
    
    font-family: @serif-font-family;
    text-align: justify;
    text-align-last: left;
    
    &.-no-width-limit {
        max-width: 100%;
    }
}