// @name Pie Chart
// @description Pie chart
//
// @state -bagel - Pie chart with a hole in the center
//
// @lvar pie-chart-color__hover       - primary-color
// @lvar pie-chart-hole-bgcolor       - white
// @lvar pie-chart-animation-duration - 200ms
// @lvar pie-chart-animation-function - cubic-bezier(.85, .11, .46, .98)
//
// @see bar-chart, line-chart
//
// @markup
// 	<div class="mui-pie-chart" data-chart="#1A7099 5, #3E98C1 3, #1E85B5 3, #4289AA 3, #2398CE 1"></div>


@pie-chart-color__hover:       @primary-color;
@pie-chart-hole-bgcolor:       @white;
@pie-chart-animation-duration: 200ms;
@pie-chart-animation-function: cubic-bezier(.85, .11, .46, .98);


.@{muilessium-prefix}pie-chart {
    position: relative;
    height: 10rem;
    width: 10rem;

    > svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    > svg > .piece {
        position: relative; 
        transition: all @pie-chart-animation-duration @pie-chart-animation-function;
    }

    > svg:hover {
        > .piece {
            fill-opacity: .5;
        }
    }

    svg > .piece:hover {
        fill: @pie-chart-color__hover;
        fill-opacity: 1;
    }

    &.-bagel {
        &:after {
            content: '';
            display: block;
            height: 50%;
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 50%;
            background: @pie-chart-hole-bgcolor;
        }
    }
}
