// @name Post header
// @description Post header component
//
// @see post, post-content, post-footer
//
// @markup
//      <header class="mui-post-header">
//          <div class="title">
//              <a href="">Lorem ipsum dolor sit amet.</a>
//          </div>
//          <div class="information">Post by<span class="author"><a href="">John Doe</a></span>, <span class="date">27 Jul 2016</span></div>
//      </header>


.@{muilessium-prefix}post-header {
    margin: 0;

    background: @post-header-bgcolor;
    
    > .title {
        font-size: 2rem;
        line-height: 1.5;
    }
    
    > .title > a {
        color: @post-header-title-color;
        text-decoration: none;
        
        &:visited {
            color: @post-header-title-color;
        }
        
        &:hover,
        &:focus {
            color: @post-header-title-color__focus;
        }
    }
    
    > .information {
        font-size: .9rem;
        line-height: 1.5;
        color: @post-header-info-color;
    }
    
    > .information a {
        text-decoration: none;
        color: @post-header-info-color;
        
        &:active {
            color: @post-header-info-color__active;
        }
        
        &:visited {
            color: @post-header-info-color;
        }
        
        &:hover,
        &:focus {
            color: @post-header-info-color__focus;
        }
    }
}
