// @name Post
// @description A number of components which should be used together for the posts on page.
//
// @markup
//  <article class='mui-post'>
//      <header class='mui-post-header'>
//          <div class='title'>
//              <a class='link' href='' aria-label='Link to the post Lorem ipsum dolor'><h4>Lorem ipsum dolor</h4></a>
//          </div>
//          <div class='information'>Post by<span class='author'><a class='link' href='' aria-label='Link to the author page'>John Doe</a></span>, <span class='date'>27 Jul 2016</span></div>
//      </header>
//      <div class='mui-post-content'>
//          ...
//      </div>
//      <footer class='mui-post-footer'>
//          <div class='mui-tags-list' aria-label='Tags list'>
//              <div class='mui-tag-wrapper -icon' role='presentation'>&lowast;</div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag nature'>nature</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag art'>art</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag photography'>photography</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag mountains'>mountains</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag sea'>sea</a></div>
//          </div>
//          <a href='' class='mui-button -read-more'>read more</a>
//      </footer>
//   </article>


.@{muilessium-prefix}post {
    position: relative;    
    max-width: 50rem;
    padding: 2rem 2rem 1rem;
}


.@{muilessium-prefix}post-header {
    margin: 0;

    > .title {

    }
    
    > .title > .link {
        text-decoration: none;
    }
    
    > .information {
        ._smaller-1;
    }
    
    > .information .link {
        text-decoration: none;
    }
}



.@{muilessium-prefix}post-content {
    margin: 2rem 0;
}



.@{muilessium-prefix}post-footer {
    #utils > .clearfix;

    border-top: 1px solid @grey-3;
    padding: 1rem 0;
    
    > .mui-tags-list {
        display: inline-block;
        max-width: 80%;
        
        @media screen and (max-width: 50rem) {
            max-width: 70%;
        }

        @media screen and (max-width: 40rem) {
            max-width: 90%;
        }
    }
    
    > .-read-more {
        float: right;

        @media screen and (max-width: 40rem) {
            float: left;
        }
    }
}

