// @name Post
// @description Post component
//
// @lvar post-background-color - white
//
// @see post-header, post-content, post-footer
//
// @markup
//      <article class="mui-post"></article>


@post-background-color: @white;


.@{muilessium-prefix}post {
    position: relative;
    
    max-width: 50rem;
    
    padding: 2rem 2rem 1rem;
    
    background: @post-background-color;
    
    #utils > .shadow;
}
