// @name Post
// @description Post component
//
// @markup
//      <article class="mui-post"></article>

.@{muilessium-prefix}post {
    position: relative;
    
    max-width: 50rem;
    
    padding: 2rem 2rem 1rem;
    
    background: @post-background-color;
    
    #utils > .shadow;
}