// @name Post header
// @description Post header component
//
// @markup
//      <footer class="mui-post-header"></footer>

.@{muilessium-prefix}post-header {
    margin: 0;
    
    > .title {
        font-size: 2rem;
        line-height: 1.5;
    }
    
    > .title > a {
        color: @post-header-title-color;
        text-decoration: none;
        
        &:visited {
            color: @post-header-title-color;
        }
        
        &:hover,
        &:focus {
            color: @post-header-title-color__focus;
        }
    }
    
    > .info {
        font-size: .9rem;
        line-height: 1.5;
        color: @post-header-info-color;
    }
    
    > .info a {
        text-decoration: none;
        color: @post-header-info-color;
        
        &:active {
            color: @post-header-info-color__active;
        }
        
        &:visited {
            color: @post-header-info-color;
        }
        
        &:hover,
        &:focus {
            color: @post-header-info-color__focus;
        }
    }
}