// @name Progress bar
// @description Progres bar component
//
// @state -animated - Animated progress bar
//
// @markup
//      <div class="mui-progress-bar">
//          <div class="indicator" style="width:60%"></div>
//      </div>

.@{muilessium-prefix}progress-bar {
    position: relative;
    
    height: 1rem;
    width: 100%;
    
    border: @global-border-width solid @shadow-color;
    
    border-radius: @global-border-radius;
    overflow: hidden;
    
    > .indicator {
        height: 100%;
        
        background: @progress-bar-color;
    }
    
    &.-animated {
        @keyframes progress-bar-animate {
            from { background-position: 0 0; }
            to   { background-position: 2rem 0; }
        }
        
        > .indicator {
            background-image: linear-gradient(45deg,
                @progress-bar-color 0%,
                @progress-bar-color 33%,
                darken(@progress-bar-color, 10%) 34%,
                darken(@progress-bar-color, 10%) 66%,
                @progress-bar-color 67%,
                @progress-bar-color 100%);
            background-size: 2rem 1rem;
            animation: 1s progress-bar-animate linear infinite;
        }
        
    }
    
    &.-info {
        
    }
}