// @name Radio
// @description Radio input component. Should be initialized.
// @depends input
//
// @markup
//  <div class='mui-input-wrapper'>
//      <div class='mui-input-label'>Select Your gender</div>
//      <div class='mui-radio' data-name='fgU67'>
//          <input id='rb1Q4' value='male'>
//          <label>
//              <span class='icon'></span>
//              <span class='text'>Male</span>
//          </label>
//          <input id='sEr2u' value='female'>
//          <label>
//              <span class='icon'></span>
//              <span class='text'>Female</span>
//          </label>
//      </div>
//  </div>


.@{muilessium-prefix}radio {
    user-select: none;
    
    > input[type=radio] {
        display: none;
    }
    
    > label {
        display: inline-block;
        
        &:hover,
        &:focus {
            cursor: pointer;
            
            > .icon {
                border-color: @radio-button-border-color__focus;
                
                &:after {
                    background: @radio-button-color__focus;
                }
            }
        }
    }
    
    > label > .icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        
        height: @radio-button-height;
        width: @radio-button-height;
        
        background: @radio-button-bgcolor;
        
        border: @radio-button-border-width solid @radio-button-border-color;
        border-radius: 50%;
        
        &:after {
            content: '';
            
            display: block;
            #utils > .absolute-center;
            
            height: 0;
            width: 0;
            
            background: @radio-button-color;
            
            border-radius: 50%;
            opacity: 0;
            
            #utils > .transition-all;
        }
    }
    
    > input[type=radio]:checked + label > .icon {
        &:after {
            opacity: 1;
            height: @radio-button-height * .4;
            width: @radio-button-height * .4;
        }
    }
    
    > label > .text {
        padding: 0 1rem;
    }
}
