// @name Rating
// @description Rating component
// @requires FontAwesome
//
// @state -r1 - One star
// @state -r2 - Two stars
// @state -r3 - Three stars
// @state -r4 - Four stars
// @state -r5 - Five stars
//
// @lvar rating-color           - grey
// @lvar rating-color__selected - accent-color
//
// @markup
//  <ul class="mui-rating">
//      <li><i class="fa fa-star"></i></li>
//      <li><i class="fa fa-star"></i></li>
//      <li><i class="fa fa-star"></i></li>
//      <li><i class="fa fa-star"></i></li>
//      <li><i class="fa fa-star"></i></li>
//  </ul>


@rating-color:           @grey;
@rating-color__selected: @accent-color;


.@{muilessium-prefix}rating {
    color: @rating-color;
    
    list-style: none;
    
    user-select: none;
    
    > li {
        display: inline-block;
    }
    
    &.-r1 {
        > li:nth-of-type(1) {
            color: @rating-color__selected;
        }
    }
    
    &.-r2 {
        > li:nth-of-type(1),
        > li:nth-of-type(2) {
            color: @rating-color__selected;
        }
    }
    
    &.-r3 {
        > li:nth-of-type(1),
        > li:nth-of-type(2),
        > li:nth-of-type(3) {
            color: @rating-color__selected;
        }
    }
    
    &.-r4 {
        > li:nth-of-type(1),
        > li:nth-of-type(2),
        > li:nth-of-type(3),
        > li:nth-of-type(4) {
            color: @rating-color__selected;
        }
    }
    
    &.-r5 {
        > li {
            color: @rating-color__selected;
        }
    }
}
