// @name Rating
// @description Rating component. Should be initialized.
// @requires FontAwesome
//
// @markup
//  <div class='mui-rating' data-rating='3' aria-label='Rating: 3 stars of 5'>
//      <span class='star fa fa-star'></span>
//      <span class='star fa fa-star'></span>
//      <span class='star fa fa-star'></span>
//      <span class='star fa fa-star'></span>
//      <span class='star fa fa-star'></span>
//  </div>


.@{muilessium-prefix}rating {
    color: @grey-3;
    
    user-select: none;

    &:hover,
    &:focus {
        text-shadow: 0 0 1px @black;
        cursor: pointer;
    }
    
    &.-r1 {
        > .fa:nth-of-type(1) {
            color: @black;
        }
    }
    
    &.-r2 {
        > .fa:nth-of-type(1),
        > .fa:nth-of-type(2) {
            color: @black;
        }
    }
    
    &.-r3 {
        > .fa:nth-of-type(1),
        > .fa:nth-of-type(2),
        > .fa:nth-of-type(3) {
            color: @black;
        }
    }
    
    &.-r4 {
        > .fa:nth-of-type(1),
        > .fa:nth-of-type(2),
        > .fa:nth-of-type(3),
        > .fa:nth-of-type(4) {
            color: @black;
        }
    }
    
    &.-r5 {
        > .fa {
            color: @black;
        }
    }
}

