// @name Ribbon
// @description Ribbon component
//
// @state -classic -top -left      - Classic ribbon On the top left courner
// @state -classic -top -right     - Classic ribbon On the top right
// @state -classic -bottom -left   - Classic ribbon On the top left courner
// @state -classic -bottom -right  - Classic ribbon On the top right
// @state -bookmark -left          - Bookmark ribbon on the left side
// @state -bookmark -right         - Bookmark ribbon on the right side
//
// @markup
//      <div class="relative-no-overflow-wrapper docs-only-wrapper docs-remove-default-example">
//          <div class="mui-ribbon">new</div>
//      </div>

.@{muilessium-prefix}ribbon {
    position: absolute;
    
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    
    color: @ribbon-color;
    background: @ribbon-bgcolor;
    
    &.-left   { left:   0; }
    &.-right  { right:  0; }
    &.-top    { top:    0; }
    &.-bottom { bottom: 0; }
    
    &.-bookmark {
        @width: 50px;
        
        top: 0;
        width: @width;
        
        font-size: .8rem;
        text-transform: uppercase;
        line-height: 4;
        
        &.-left {
            left: 1rem;
        }
        
        &.-right {
            right: 1rem;
        }
        
        &:after {
            content: '';
            
            position: absolute;
            bottom: -@width / 2;
            left: 0;
            
            height: 0;
            width: 0;
            
            border-left: @width / 2 solid @ribbon-bgcolor;
            border-right: @width / 2 solid @ribbon-bgcolor;
            border-bottom: @width / 2 solid transparent;
        }
    }
    
    &.-classic {
        line-height: 2;
        
        width: 8rem;
        
        &.-top.-left {
            transform: translateX(-25%) translateY(50%) rotate(-45deg);
        }
        
        &.-bottom.-right {
            transform: translateX(25%) translateY(-50%) rotate(-45deg);
        }
        
        &.-top.-right {
            transform: translateX(25%) translateY(50%) rotate(45deg);
        }
        
        &.-bottom.-left {
            transform: translateX(-25%) translateY(-50%) rotate(45deg);
        }
    }
}