// @name Select dropdown
// @description Select dropdown component
//
// @markup
//      <div class="mui-select-dropdown">
//          <select name="select-4ukd" id="select-4ukd" >
//              <option value="">Option #1</option>
//              <option value="">Option #2</option>
//              <option value="">Option #3</option>
//              <option value="">Option #4</option>
//          </select>
//          <div class="icon"><i class="fa fa-angle-double-down"></i></div>
//      </div>

.@{muilessium-prefix}select-dropdown {
    position: relative;
    
    height: @global-ui-height;
    width: 100%;
    
    user-select: none;
    
    > select {
        height: @global-ui-height;
        width: 100%;

        padding: 0 1rem;
        margin: 0;

        font-size: 1rem;
        line-height: @global-ui-height;

        color: @select-color;
        background: @select-bgcolor;

        appearance: none;
        border: solid @global-border-width @select-border-color;
        border-radius: @global-border-radius;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }
    
    > .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        
        height: @global-ui-height;
        width: @global-ui-height;
        
        line-height: @global-ui-height;
        text-align: center;
        
        color: @select-icon-color;
        background: @select-icon-bgcolor;
        
        border-top-right-radius: @global-border-radius;
        border-bottom-right-radius: @global-border-radius;
        
        pointer-events: none;
    }
}