// @name Select dropdown
// @description Select dropdown component
//
// @depends dropdown-options
//
// @markup
//      <div class="mui-select-dropdown">
//          <select name="select-4ukd" id="select-4ukd" >
//              <option value="">Option #1</option>
//              <option value="">Option #2</option>
//              <option value="">Option #3</option>
//              <option value="">Option #4</option>
//          </select>
//          <div class="icon"><i class="fa fa-angle-double-down"></i></div>
//      </div>


.@{muilessium-prefix}select-dropdown {
    position: relative;
    
    height: @select-height;
    width: 100%;
    
    user-select: none;
    
    > select,
    > .select {
        height: @select-height;
        width: 100%;

        padding: 0 1rem;
        margin: 0;

        font-size: 1rem;
        line-height: @select-height;

        color: @select-color;
        background: @select-bgcolor;

        appearance: none;
        border: solid @select-border-width @select-border-color;
        border-radius: @select-border-radius;
        outline: none;

        &:hover,
        &:focus {
            cursor: pointer;
            border-color: @select-border-color__focus;
        }
    }
    
    > .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        
        height: @select-height;
        width: @select-height;
        
        line-height: @select-height;
        text-align: center;
        
        color: @select-icon-color;
        background: @select-icon-bgcolor;
        
        border-top-right-radius: @select-border-radius;
        border-bottom-right-radius: @select-border-radius;
        
        pointer-events: none;
    }

    .mui-dropdown-options {
        display: none;
    }

    &.-opened {
        .mui-dropdown-options {
            display: block;
        }
    }
}
