// @name Select dropdown
// @description Select dropdown component
//
// @markup
//      <div class="mui-select-dropdown">
//          <select name="select-4ukd" id="select-4ukd" >
//              <option value="">Option #1</option>
//              <option value="">Option #2</option>
//              <option value="">Option #3</option>
//              <option value="">Option #4</option>
//          </select>
//          <div class="icon"><i class="fa fa-angle-double-down"></i></div>
//      </div>

.@{muilessium-prefix}select-dropdown {
    position: relative;
    
    height: @global-ui-height;
    width: 100%;
    
    user-select: none;
    
    > select,
    > .select {
        height: @global-ui-height;
        width: 100%;

        padding: 0 1rem;
        margin: 0;

        font-size: 1rem;
        line-height: @global-ui-height;

        color: @select-color;
        background: @select-bgcolor;

        appearance: none;
        border: solid @global-border-width @select-border-color;
        border-radius: @global-border-radius;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }
    
    > .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        
        height: @global-ui-height;
        width: @global-ui-height;
        
        line-height: @global-ui-height;
        text-align: center;
        
        color: @select-icon-color;
        background: @select-icon-bgcolor;
        
        border-top-right-radius: @global-border-radius;
        border-bottom-right-radius: @global-border-radius;
        
        pointer-events: none;
    }

    .options {
        display: none;
        position: relative;
        top: @global-ui-height * .7;

        list-style: none;

        background: #fff;
        border: 1px solid #555;
        border-radius: @global-border-radius;

        #utils > .shadow;

        &:before {
            content: '';
            display: block;
            height: @global-ui-height;
            width: @global-ui-height;

            position: absolute;
            top: -@global-ui-height *.55;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);

            background: #fff;
            border-top: 1px solid #555;
            border-left: 1px solid #555;

            pointer-events: none;
            z-index: -1;
        }

        .option {
            margin: 0;
            padding: 0 1rem;
            line-height: 2.2;

            &:not(:last-of-type) {
                border-bottom: 1px solid #555;
            }

            &:hover,
            &:focus {
                background: #777;
            }
        }
    }

    &.-opened {
        .options {
            display: block;
        }
    }
}
