// @name Spinner
// @description Spinner component
// @requires FontAwesome
//
// @markup
//      <div class="mui-spinner">
//          <i class="fa fa-spinner"></i>
//      </div>


@keyframes spinner-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}


.@{muilessium-prefix}spinner {
    display: inline-block;
    
    animation: 1.5s spinner-rotate linear infinite;
    
    > .fa {
        font-size: @spinner-height;
        
        color: @spinner-color;
    }
}
