// @name SVG icon
// @description Internal component
//
// @markup
//      <svg class='mui-svg-icon'><use xlink:href='#svg-icon--check'></use></svg>


.@{muilessium-prefix}svg-icon {
    display: inline-block;
    height: 1em;
    max-height: 1em;
    max-width: 1em;
    transform: translateY(-10%);
    vertical-align: middle;

    &.-white {
        fill: #fff;
    }

    &.-black {
        fill: #000;
    }
}

