.@{muilessium-prefix}tabs {
    > input {
        display: none;
    }
    
    > input:nth-of-type(1):checked ~ .tabs > .tab:nth-of-type(1) { opacity: 1; }
    > input:nth-of-type(2):checked ~ .tabs > .tab:nth-of-type(2) { opacity: 1; }
    > input:nth-of-type(3):checked ~ .tabs > .tab:nth-of-type(3) { opacity: 1; }
    
    > input:nth-of-type(1):checked ~ .labels > label:nth-of-type(1) {
        color: @tabs-color__current;
        background: @tabs-bgcolor__current;
        border-bottom-color: @tabs-bgcolor__current;
    }
    
    > input:nth-of-type(2):checked ~ .labels > label:nth-of-type(2) {
        color: @tabs-color__current;
        background: @tabs-bgcolor__current;
        border-bottom-color: @tabs-bgcolor__current;
    }
    
    > input:nth-of-type(3):checked ~ .labels > label:nth-of-type(3) {
        color: @tabs-color__current;
        background: @tabs-bgcolor__current;
        border-bottom-color: @tabs-bgcolor__current;
    }

    > .labels {
        display: flex;
        flex-flow: row wrap;
        margin-right: -.5px; // hack for 1px bug in Chrome
    }
    
    > .labels > label {
        text-align: center;
        flex-grow: 1;
        
        line-height: @global-ui-height;
        
        color: @tabs-color;
        background: @tabs-bgcolor;
        
        border: solid @global-border-width @tabs-border-color;
        border-top-left-radius: @global-border-radius;
        border-top-right-radius: @global-border-radius;
        
        #utils > .transition-all;

        
        &:not(:first-of-type) {
            border-left: none;
        }
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: @tabs-color__focus;
            background: @tabs-bgcolor__focus;
        }
    }
    
    > .tabs {
        margin: 0;
        
        list-style: none;
        
        border: solid @global-border-width @tabs-border-color;
        border-top: none;
        border-bottom-left-radius: @global-border-radius;
        border-bottom-right-radius: @global-border-radius;
        
        #utils > .clearfix;
    }
    
    > .tabs > .tab {
        display: block;
        float: left;
        
        width: 100%;
        
        padding: 1rem;
        
        color: @tabs-color;
        background: @tabs-bgcolor;
        opacity: 0;
        
        transition: all @tabs-animation-duration @tabs-animation-function;
        
        &:not(:first-of-type) {
            margin-left: -100%;
        }
    }
}