// @name Tag
// @description Tag component
//
// @see tags-list
//
// @markup
//      <a class="mui-tag">lorem</a>


.@{muilessium-prefix}tag {
    display: inline-block;
    
    font-family: @sans-serif-font-family;
    font-size: .7rem;
    line-height: 1.2;
    text-decoration: none;
    
    color: @tag-color;
    
    #utils > .transition-all;
    
    &:visited {
        color: @tag-color;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        color: @tag-color__focus;
    }
    
    &:active {
        cursor: pointer;
        color: @tag-color__active;
    }
}
