// @name Tag
// @description Tag component
//
// @lvar tag-color         - grey
// @lvar tag-color__focus  - primary-color
// @lvar tag-color__active - darken(primary-color, 15%)
// @lvar solid-tag-bgcolor - lighten(grey, 50%)
//
// @see tags-list
//
// @markup
//      <a class="mui-tag">lorem</a>


@tag-color:         @grey;
@tag-color__focus:  @primary-color;
@tag-color__active: darken(@primary-color, 15%);
@solid-tag-bgcolor: lighten(@grey, 50%);


.@{muilessium-prefix}tag {
    display: inline-block;
    
    font-family: @sans-serif-font-family;
    font-size: .7rem;
    line-height: 1.2;
    text-decoration: none;
    
    color: @tag-color;
    
    #utils > .transition-all;
    
    &:visited {
        color: @tag-color;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        color: @tag-color__focus;
        outline: none;
    }
    
    &:active {
        cursor: pointer;
        color: @tag-color__active;
    }
}
