// @name Tags list
// @description Tags list component
//
// @markup
//      <ul class="mui-tags-list" role="navigation" aria-label="Tags list">
//          <li class="mui-tag-wrapper -icon" role="presentation"><i class="fa fa-tags" aria-hidden="true"></i></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag nature">nature</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag art">art</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag photography">photography</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag mountains">mountains</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag sea">sea</a></li>
//      </ul>


// @name Solid tags list
// @description Tags list component (variation with solid tags)
//
// @markup
//      <ul class="mui-tags-list -solid" role="navigation" aria-label="Tags list">
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag nature">nature</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag art">art</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag photography">photography</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag mountains">mountains</a></li>
//          <li class="mui-tag-wrapper"><a href="" class="mui-tag" aria-label="Search by tag sea">sea</a></li>
//      </ul>


.@{muilessium-prefix}tag {
    display: inline-block;
    
    font-size: .7rem;
    line-height: 1.2;
    text-decoration: none;
    
    color: @tag-color;
    
    #utils > .transition-all;
    
    &:visited {
        color: @tag-color;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        color: @tag-color__focus;
    }
    
    &:active {
        cursor: pointer;
        color: @tag-color__active;
    }
}


.@{muilessium-prefix}tags-list {
    list-style: none;
    
    user-select: none;
    
    > .@{muilessium-prefix}tag-wrapper {
        display: inline;
        
        &:first-of-type > .@{muilessium-prefix}tag {
            &::first-letter {
                text-transform: uppercase;
            }
        }
        
        &:last-of-type > .@{muilessium-prefix}tag:after  {
            content: '.';
        }
        
        &:not(:last-of-type) > .@{muilessium-prefix}tag:after  {
            content: ',';
            padding-right: .1rem;
        }
    }

    > .@{muilessium-prefix}tag-wrapper > .fa {
        font-size: .7rem;
        color: @tag-color;
    }
    
    &.-solid {
        > .@{muilessium-prefix}tag-wrapper {
            background: @solid-tag-bgcolor;
            padding: 0 .5rem;
            
            > .@{muilessium-prefix}tag:after {
                content: '';
            }
        }
    }
}
