.@{muilessium-prefix}tags-list {
    list-style: none;
    
    > .@{muilessium-prefix}tag-wrapper {
        display: inline;
        
        &:first-of-type > .@{muilessium-prefix}tag {
            &::first-letter {
                text-transform: uppercase;
            }
        }
        
        &:last-of-type > .@{muilessium-prefix}tag:after {
            content: '.';
        }
        
        &:not(:last-of-type) > .@{muilessium-prefix}tag:after  {
            content: ',';
            padding-right: .1rem;
        }
    }

    > .@{muilessium-prefix}tag-wrapper > .fa {
        font-size: .7rem;
        color: @tag-color;
    }
    
    &.-solid {
        > .@{muilessium-prefix}tag-wrapper {
            background: @solid-tag-bgcolor;
            padding: 0 .5rem;
            
            > .@{muilessium-prefix}tag:after {
                content: '';
            }
        }
    }
    
    &.-with-close {
        > .@{muilessium-prefix}tag-wrapper {
            .fa {
                color: @tag-color;
                font-size: .7rem;
                margin-left: .3rem;
                
                &:hover,
                &:focus {
                    color: @tag-color__focus;
                }
            }
        }
    }
}