// @name Tags list
//
// @markup
//      <div class='mui-tags-list' aria-label='Tags list'>
//          <div class='mui-tag-wrapper -icon' role='presentation'>&lowast;</div>
//          <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag nature'>nature</a></div>
//          <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag art'>art</a></div>
//          <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag photography'>photography</a></div>
//          <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag mountains'>mountains</a></div>
//          <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag sea'>sea</a></div>
//      </div>


// @name Solid tags list
// @description Variation of the tags list component. Should be initialized too.
//
// @markup
//  <div class='mui-tags-list -solid' aria-label='Tags list'>
//      <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag nature'>nature</a></div>
//      <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag art'>art</a></div>
//      <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag photography'>photography</a></div>
//      <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag mountains'>mountains</a></div>
//      <div class='mui-tag-wrapper'><a href='' class='mui-tag' aria-label='Search by tag sea'>sea</a></div>
//  </div>


.@{muilessium-prefix}tag {
    ._smaller-1;

    display: inline-block;    
    text-decoration: none;
    color: @grey-4;
    transition: all @default-animation-duration @default-animation-function;
    
    &:visited {
        color: @grey-4;
    }
    
    &:hover,
    &:focus {
        cursor: pointer;
        color: @black;
    }
    
    &:active {
        color: @black;
    }
}


.@{muilessium-prefix}tags-list {
    user-select: none;
    
    > .@{muilessium-prefix}tag-wrapper {
        display: inline-block;
        
        &:first-of-type > .@{muilessium-prefix}tag {
            &::first-letter {
                text-transform: uppercase;
            }
        }
        
        &:last-of-type > .@{muilessium-prefix}tag:after  {
            content: '.';
        }
        
        &:not(:last-of-type) > .@{muilessium-prefix}tag:after  {
            content: ',';
            padding-right: .1rem;
        }
    }

    > .@{muilessium-prefix}tag-wrapper > .fa {
        ._smaller-1;

        color: @grey-4;
    }
    
    &.-solid {
        > .@{muilessium-prefix}tag-wrapper {
            background: @grey-2;
            padding: 0 .5rem;
            
            > .@{muilessium-prefix}tag:after {
                content: '';
            }
        }
    }
}

