// @name Textarea
// @description Textarea component
//
// @state -resizable - Resizable textare
//
// @lvar textarea-color             - grey
// @lvar textarea-color__focus      - black
// @lvar textarea-border-color      - black
// @lvar textarea-border-radius     - global-border-radius
// @lvar textarea-border-width      - global-border-width
// @lvar textarea-placeholder-color - grey
//
// @markup
//      <div class="mui-textarea">   
//          <textarea id="textarea" placeholder="textarea"></textarea>
//      </div>


@textarea-color:             @grey;
@textarea-color__focus:      @black;
@textarea-border-color:      @black;
@textarea-border-radius:     @global-border-radius;
@textarea-border-width:      @global-border-width;
@textarea-placeholder-color: @grey;


// @name Material textarea
// @description Textarea component (material-style variation)
// @depends textarea
//
// @state -has-value - Has value
//
// @markup
//      <div class="mui-textarea -material">   
//          <textarea id="textarea-2dyd"></textarea>
//          <label class="mui-input-label" for="textarea-2dyd">Your text</label>
//      </div>

.@{muilessium-prefix}textarea {
    position: relative;
    
    > textarea {
        width: 100%;
        max-width: 100%;
        min-height: 10rem;

        padding: 1em;

        color: @textarea-color;

        border: @textarea-border-width solid @textarea-color;

        outline: none;
        resize: none;
        overflow: auto;
        border-radius: @textarea-border-radius;

        &::placeholder {
            color: @textarea-color;
            text-indent: 0;
            opacity: 1;

            #utils > .transition-all;
        }

        &:focus {
            color: @textarea-color__focus;

            &::placeholder {
                opacity: 0;
            }
        }
    }
    
    &.-resizable {
        > textarea {
            resize: vertical;
        }
    }

    &.-material {
        margin-top: 1rem;

        overflow: visible;
        
        > textarea {
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        > textarea:focus + label {
            top: -.7rem;
            font-size: .7rem;

            color: @textarea-placeholder-color;
        }

        > label {
            display: block;

            position: absolute;
            left: 1rem;
            top: 1.5rem;
            transform: translateY(-50%);

            font-size: 1rem;

            color: @textarea-color;

            #utils > .transition-all;

            &:hover {
                cursor: text;
            }
        }
    }
    
    &.-has-value {
        > textarea {
            color: @textarea-color__focus;
        }
        
        > label {
            top: -.7rem;
            font-size: .7rem;

            color: @textarea-placeholder-color;
        }
    }
}
