// @name Textarea
// @description Label should be used for better accessibility.
// @depends input
//
// @markup
//  <div class='mui-input-wrapper'>
//      <label class='mui-input-label'>Your message</label>
//      <div class='mui-textarea'>   
//          <textarea id='fmVs1' placeholder='Print your message here'></textarea>
//      </div>
//  </div>


// @name Material textarea
// @description Textarea component (material-style variation)
//
// @markup
//  <div class='mui-input-wrapper'>
//      <div class='mui-textarea -material'>   
//          <textarea id='0zx6R'></textarea>
//          <label class='mui-input-label'>Your text</label>
//      </div>
//  </div>


.@{muilessium-prefix}textarea {
    position: relative;
    
    > textarea {
        width: 100%;
        max-width: 100%;
        min-height: 10rem;

        padding: 1em;

        color: @black;

        border: 1px solid @grey-4;

        outline: none;
        resize: none;
        overflow: auto;
        border-radius: @default-border-radius;

        &::placeholder {
            color: @grey-4;
            text-indent: 0;
            opacity: 1;

            transition: all @default-animation-duration @default-animation-function;
        }

        &:focus {
            color: @black;

            &::placeholder {
                text-indent: -50rem;
                opacity: 0;
            }
        }
    }
    
    &.-resizable {
        > textarea {
            resize: vertical;
        }
    }

    &.-material {
        margin-top: 1rem;

        overflow: visible;
        
        > textarea {
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
        }

        > textarea:focus + label {
            transform: translateY(-200%);
            ._smaller-1;

            color: @grey-4;
        }

        > label {
            display: block;

            position: absolute;
            left: 1rem;
            top: 1.5rem;
            transform: translateY(-50%);

            font-size: 1rem;

            color: @black;

            transition: all @default-animation-duration @default-animation-function;

            &:hover {
                cursor: text;
            }
        }
    }
    
    &.-has-value {
        > textarea {
            color: @black;
        }
        
        > label {
            transform: translateY(-200%);
            ._smaller-1;

            color: @grey-4;
        }
    }
}

